@page "/profile"

@attribute [Authorize]

@inject CustomAuthenticationStateProvider CustomAuthenticationStateProvider
@inject CustomUserService CustomUserService
@inject IBCData BCData

@implements IDisposable

<div class="px-4 py-8">
    @if (_account is not null)
    {
        <EditProfilePictureDrawer @bind-Open="drawerOpen" ImageSrc="@_account.ProfilePicture" OnImageUpload="OnImageChanged" />

        <MudStack AlignItems="AlignItems.Start" Row>
            <MudBadge BadgeClass="mt-n3 ml-n3" Origin="Origin.BottomRight" Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" Overlap>
                <MudAvatar Class="clickable" Style="height: 100px; width: 100px;" @onclick="@(() => drawerOpen = true)">
                    <MudImage Src="@_account.ProfilePicture" Height="null" Width="200" ObjectFit="ObjectFit.Cover" />
                </MudAvatar>
            </MudBadge>

            <MudStack Spacing="0">
                <MudText Typo="Typo.h6"><b>@_account.FirstName @_account.LastName</b></MudText>
                <MudText Typo="Typo.caption">free agent</MudText>
            </MudStack>
        </MudStack>
        
        <MudStack Class="mt-5 mb-2" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Row>
            <MudText Typo="Typo.subtitle1"><b>Games</b></MudText>
            <MudLink Typo="Typo.caption"><b>Set Availability</b></MudLink>
        </MudStack>

        @if (_userGames is not null)
        {
            if (_userGames.Any())
            {
                <ScheduleTable Games="_userGames"/>
            }
            else
            {
                <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Spacing="2">
                    <MudAvatar Style="height: 150px; width: 150px" Elevation="4" Rounded >
                        <MudIcon Icon="@Icons.Material.Filled.SportsHockey" Style="font-size: 4rem;" />
                    </MudAvatar>
                
                    <MudStack AlignItems="AlignItems.Center" Spacing="0">
                        <MudText Typo="Typo.subtitle2">No games yet</MudText>
                        <MudText Typo="Typo.caption">When you get drafted, your games will show up here</MudText>
                    </MudStack>
                </MudStack>
            }
        }
        else
        {
            
        }
    }
</div>

@code {
    
    [CascadingParameter]
    public Layout.MainLayout mainLayout { get; set; }

    private BCAccount? _account;
    private PlayerProfilePicture? profilePicture;
    private IEnumerable<BCGame>? _userGames;
    private bool drawerOpen;

    protected override void OnParametersSet()
    {
        mainLayout.profileLayout = true;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var state = await CustomAuthenticationStateProvider.GetAuthenticationStateAsync();

            if (state.User.Identity is null || !state.User.Identity.IsAuthenticated || !state.User.HasClaim(x => x.Type == ClaimTypes.Email))
            {
                return;
            }

            var claim = state.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Email);
            if (claim is null) return;
            
            _account = await BCData.GetAccountByEmailAsync(claim.Value);
            if (_account is null) return;
            
            var profile = await BCData.GetUserTournamentPlayerProfileAsync(_account.id, 2);
            if (profile is null) return;

            _userGames = await BCData.GetPlayerSchedule(profile.id);
            
            StateHasChanged();
        }
    }

    private async Task OnImageChanged(byte[] imageBytes)
    {
        if (_account is not null)
        {
            string errorMessage = await CustomUserService.UpdateProfilePictureAsync(_account.Email, imageBytes);

            if (string.IsNullOrEmpty(errorMessage))
            {
                drawerOpen = false;
                _account.ProfilePicture = $"data:image/*;base64,{Convert.ToBase64String(imageBytes)}";
                StateHasChanged();
            }
            
        }
    }

    public void Dispose()
    {
        mainLayout.profileLayout = false;
    }
    
}