@namespace BoltonCup.WebClient.Components.Shared

@inject IBoltonCupApi BoltonCupApi

<MudDataGrid
    @ref="_dataGrid"
    T="Sdk.GoalieStatDto"
    ServerData="ServerReload"
    Breakpoint="Breakpoint.None"
    RowStyle="height: 50px"
    RowsPerPage="50"
    Elevation="0"
    ShowColumnOptions="false"
    Striped
    Dense>
    <ToolBarContent>
        <div class="d-flex flex-row align-center gap-3 flex-wrap">
            <FilterToolbarField
                T="Sdk.TournamentDto?" TItem="Sdk.GoalieStatDto" Label="Tournament"
                @bind-Value="@_filter.Tournament" OnApplyClicked="@_dataGrid.ReloadServerData"
                ToStringFunc="x => x?.Name">
                <TournamentFilter/>
            </FilterToolbarField>
            
            <FilterToolbarField
                T="IReadOnlyCollection<Sdk.TeamDto>?" TItem="Sdk.GoalieStatDto" Label="Team"
                @bind-Value="@_filter.Teams" OnApplyClicked="@_dataGrid.ReloadServerData"
                ToStringFunc="@TeamListToStringFunc" Disabled="@(_filter.Tournament?.Id is null)">
                <TeamFilter TournamentId="@_filter.Tournament?.Id" />
            </FilterToolbarField>
        </div>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.FullName" Title="Player" Sortable="false" StickyLeft>
            <CellTemplate>
                <PlayerLink Label="@context.Item.FullName" PlayerId="context.Item.PlayerId" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TeamName" Title="Team">
            <CellTemplate>
                <div class="d-flex flex-row align-center justify-space-evenly">
                    <MudText Typo="Typo.body2">@context.Item.TeamAbbreviation</MudText>
                    <MudImage Src="@context.Item.TeamLogoUrl" Height="24" Alt="@context.Item.TeamName"/>
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Position" Title="Position"/>
        <PropertyColumn Property="x => x.GamesPlayed" Title="GP" sty CellStyle="@_dataCellStyle"/>
        <PropertyColumn Property="x => x.GoalsAgainstAverage" Title="GAA" CellStyle="@_dataCellStyle" InitialDirection="SortDirection.Ascending"/>
        <PropertyColumn Property="x => x.Shutouts" Title="SO" CellStyle="@_dataCellStyle" />
        <PropertyColumn Property="x => x.Wins" Title="W" CellStyle="@_dataCellStyle" />
        <PropertyColumn Property="x => x.PenaltyMinutes" Title="PIM" CellStyle="@_dataCellStyle" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Sdk.GoalieStatDto" PageSizeSelector="false"/>
    </PagerContent>
</MudDataGrid>

@code {

    private MudDataGrid<Sdk.GoalieStatDto> _dataGrid = null!;
    private const string _dataCellStyle = "max-width: 30px";

    private readonly GoalieStatsFilterModel _filter = new();
    

    private async Task<GridData<Sdk.GoalieStatDto>> ServerReload(GridState<Sdk.GoalieStatDto> state, CancellationToken cancellationToken)
    {
        string? sortBy = null;
        bool? descending = null;
        var sortDefinition = state.SortDefinitions.FirstOrDefault();
        if (sortDefinition is not null)
        {
            sortBy = sortDefinition.SortBy;
            descending = sortDefinition.Descending;
        }
        
        var data = await BoltonCupApi.GetGoalieStatsAsync(
            tournamentId: _filter.Tournament?.Id,
            teamIds: _filter.Teams?.Select(x => x.Id).ToList(),
            page: state.Page + 1, 
            size: state.PageSize,
            sortBy: sortBy,
            descending: descending,
            cancellationToken: cancellationToken
        );
        
        return new GridData<Sdk.GoalieStatDto> {
            TotalItems = data.Total,
            Items = data.Items,
        };
    }
    
    private string? TeamListToStringFunc(IReadOnlyCollection<Sdk.TeamDto>? teams)
    {
        if (teams?.Count is null or 0)
            return null;

        return string.Join(", ", teams.Select(x => x.NameShort));
    }

    private class GoalieStatsFilterModel
    {
        public Sdk.TournamentDto? Tournament { get; set; }
        public IReadOnlyCollection<Sdk.TeamDto>? Teams { get; set; }
    }

}