@inject IBoltonCupApi BoltonCupApi

<MudTable
    @ref="_dataGrid"
    T="Sdk.GameDto"
    ServerData="ServerReload"
    GroupBy="_groupDefinition"
    Breakpoint="Breakpoint.None"
    RowsPerPage="25"
    Elevation="0"
    Striped>
    <ToolBarContent>
        <div class="d-flex flex-row align-center gap-3 flex-wrap">
            <FilterToolbarField
                T="Sdk.TournamentDto?" Label="Tournament"
                Value="@_filter.Tournament" ValueChanged="OnFilterTournamentChange" OnApplyClicked="@_dataGrid.ReloadServerData"
                ToStringFunc="x => x?.Name">
                <TournamentFilter/>
            </FilterToolbarField>

            <FilterToolbarField
                T="Sdk.TeamDto?" Label="Team"
                @bind-Value="@_filter.Team" OnApplyClicked="@_dataGrid.ReloadServerData"
                ToStringFunc="x => x?.Name" Disabled="@(_filter.Tournament?.Id is null)">
                <TeamFilter TournamentId="@_filter.Tournament?.Id"/>
            </FilterToolbarField>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert>
            <MudTh Class="align-center">Matchup</MudTh>
            <MudTh></MudTh>
            <MudTh>Time</MudTh>
            <MudTh>Location</MudTh>
            <MudTh></MudTh>
        </MudHidden>
    </HeaderContent>
    <GroupHeaderTemplate>
        <MudTh colspan="5"><MudText Typo="Typo.h6">@context.Key</MudText></MudTh>
    </GroupHeaderTemplate>
    <RowTemplate>
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert>
            <MudTd DataLabel="Matchup">@MatchupCell(context)</MudTd>
            <MudTd DataLabel="Result">@GameScoreText(context)</MudTd>
            <MudTd DataLabel="Time"><b>@context.GameTime.ToLocalTime().ToString("hh:mm tt")</b></MudTd>
            <MudTd DataLabel="Location">@context.Venue <b>(@context.Rink)</b></MudTd>
            <MudTd>
                <MudButtonGroup>
                    <MudButton Href="@($"/games/{context.Id}")" StartIcon="@Icons.Material.Filled.SportsHockey" IconColor="Color.Info" Color="Color.Info">Gamecenter</MudButton>
                </MudButtonGroup>
            </MudTd>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert>
            <div class="d-flex flex-column align-center mud-width-full py-2 gap-3 border-b mud-border-lines-default">
                <div class="d-flex flex-row align-center justify-space-between mud-width-full">
                    <div style="width: 36px"></div>
                    @GameScoreText(context)
                    <MudMenu Style="width: 36px" Icon="@Icons.Material.Rounded.MoreVert" AnchorOrigin="Origin.CenterLeft" TransformOrigin="Origin.CenterRight" Color="Color.Info" Size="Size.Small" Dense>
                        <MudMenuItem Href="@($"/games/{context.Id}")" Icon="@Icons.Material.Filled.SportsHockey" IconColor="Color.Info">Gamecenter</MudMenuItem>
                    </MudMenu>
                </div>
                @MatchupCell(context)
                <MudText Typo="Typo.caption"><b>@context.GameTime.ToLocalTime().ToString("hh:mm tt")</b></MudText>
                <MudText>@context.Venue <b>(@context.Rink)</b></MudText>
            </div>
        </MudHidden>
    </RowTemplate>
    <PagerContent>
        <MudTablePager HideRowsPerPage/>
    </PagerContent>
</MudTable>

@code {

    private MudTable<Sdk.GameDto> _dataGrid = null!;

    private readonly ScheduleFilterModel _filter = new();

    private TableGroupDefinition<Sdk.GameDto> _groupDefinition = new()
    {
        GroupName = "Tournament",
        Indentation = true,
        Expandable = false,
        Selector = e => e.Tournament.Name,
        InnerGroup = new()
        {
            GroupName = "Date",
            Indentation = false,
            Expandable = false,
            Selector = e => e.GameTime.ToLocalTime().Date.ToLongDateString(),
        }
    };

    private (Sdk.TeamInGameDto winner, Sdk.TeamInGameDto loser) GetTeamsByWin(Sdk.GameDto game)
        => game.HomeTeam.Goals >= game.AwayTeam.Goals
            ? (game.HomeTeam, game.AwayTeam)
            : (game.AwayTeam, game.HomeTeam);

    private async Task<TableData<Sdk.GameDto>> ServerReload(TableState state, CancellationToken cancellationToken)
    {
        var data = await BoltonCupApi.GetGamesAsync(
            tournamentId: _filter.Tournament?.Id,
            teamId: _filter.Team?.Id,
            page: state.Page + 1,
            size: state.PageSize,
            cancellationToken: cancellationToken
        );
        return new TableData<Sdk.GameDto> {
            Items = data.Items,
            TotalItems = data.Total,
        };
    }

    private Task OnFilterTournamentChange(Sdk.TournamentDto? tournament)
    {
        _filter.Tournament = tournament;
        _filter.Team = null;
        return _dataGrid.ReloadServerData();
    }

    private RenderFragment MatchupCell(Sdk.GameDto context)
        => @<div class="mud-width-full d-flex flex-row align-center justify-center gap-4">
            <div class="d-flex flex-row align-center justify-end gap-2" style="width: 100px">
                <MudText Typo="Typo.body2"><b>@context.AwayTeam.NameShort</b></MudText>
                <MudImage Src="@context.AwayTeam.Logo" Height="48" Alt="@context.AwayTeam.Abbreviation"/>
            </div>
            @@
            <div class="d-flex flex-row-reverse align-center justify-end gap-2" style="width: 100px">
                <MudText Typo="Typo.body2"><b>@context.HomeTeam.NameShort</b></MudText>
                <MudImage Src="@context.HomeTeam.Logo" Height="48" Alt="@context.HomeTeam.Abbreviation"/>
            </div>
        </div>;
    
    private RenderFragment GameScoreText(Sdk.GameDto context) => builder =>
    {
        var teams = GetTeamsByWin(context);
        builder.OpenElement(0, "div");
        builder.AddAttribute(1, "class", "d-flex flex-row align-center justify-center gap-1");
        builder.OpenElement(2, "b");
        builder.AddContent(3, $"{teams.winner.Abbreviation} {teams.winner.Goals}");
        builder.CloseElement();
        builder.AddContent(4, ", ");
        builder.AddContent(5, $"{teams.loser.Abbreviation} {teams.loser.Goals}");
        builder.CloseElement();
    };
    
    private class ScheduleFilterModel
    {
        public Sdk.TournamentDto? Tournament { get; set; }
        public Sdk.TeamDto? Team { get; set; }
    }

}