@namespace BoltonCup.WebClient.Components.Shared

@inject IBoltonCupApi BoltonCupApi

<MudDataGrid
    @ref="_dataGrid"
    T="Sdk.SkaterStatDto"
    Class="filter-datagrid"
    ServerData="ServerReload"
    Breakpoint="Breakpoint.None"
    RowStyle="height: 50px"
    RowsPerPage="50"
    Elevation="0"
    ShowColumnOptions="false"
    AllowUnsorted
    Striped
    Dense>
    <ToolBarContent>
        <div class="d-flex flex-row align-center gap-3 flex-wrap">
            <FilterToolbarField
                T="string?" Label="Position"
                @bind-Value="@_filter.Position" OnApplyClicked="@_dataGrid.ReloadServerData">
                <PositionFilter/>
            </FilterToolbarField>
            
            <FilterToolbarField
                T="Sdk.TournamentDto?" Label="Tournament"
                Value="@_filter.Tournament" ValueChanged="OnFilterTournamentChange" OnApplyClicked="@_dataGrid.ReloadServerData"
                ToStringFunc="x => x?.Name">
                <TournamentFilter/>
            </FilterToolbarField>
            
            <FilterToolbarField
                T="IReadOnlyCollection<Sdk.TeamDto>?" Label="Team"
                @bind-Value="@_filter.Teams" OnApplyClicked="@_dataGrid.ReloadServerData"
                ToStringFunc="@TeamListToStringFunc" Disabled="@(_filter.Tournament?.Id is null)">
                <TeamsFilter TournamentId="@_filter.Tournament?.Id" />
            </FilterToolbarField>
        </div>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.FullName" Title="Player" Sortable="false" StickyLeft>
            <CellTemplate>
                <PlayerLink Label="@context.Item.FullName" PlayerId="context.Item.PlayerId" />
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TeamName" Title="Team" Hidden="@(_filter.Tournament is null)">
            <CellTemplate>
                <div class="d-flex flex-row align-center justify-space-evenly">
                    <MudText Typo="Typo.body2">@context.Item.TeamAbbreviation</MudText>
                    <MudImage Src="@context.Item.TeamLogoUrl" Height="24" Alt="@context.Item.TeamName"/>
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Position" Title="Position"/>
        <PropertyColumn Property="x => x.GamesPlayed" Title="GP" sty CellStyle="@_dataCellStyle"/>
        <PropertyColumn Property="x => x.Goals" Title="G" CellStyle="@_dataCellStyle"/>
        <PropertyColumn Property="x => x.Assists" Title="A" CellStyle="@_dataCellStyle"/>
        <PropertyColumn Property="x => x.Points" Title="P" CellStyle="@_dataCellStyle" InitialDirection="SortDirection.Descending" />
        <PropertyColumn Property="x => x.PenaltyMinutes" Title="PIM" CellStyle="@_dataCellStyle" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Sdk.SkaterStatDto" PageSizeSelector="false"/>
    </PagerContent>
</MudDataGrid>

@code {

    private MudDataGrid<Sdk.SkaterStatDto> _dataGrid = null!;
    private const string _dataCellStyle = "max-width: 30px";

    private readonly SkaterStatsFilterModel _filter = new();

    private async Task<GridData<Sdk.SkaterStatDto>> ServerReload(GridState<Sdk.SkaterStatDto> state, CancellationToken cancellationToken)
    {
        string? sortBy = null;
        bool? descending = null;
        var sortDefinition = state.SortDefinitions.FirstOrDefault();
        if (sortDefinition is not null)
        {
            sortBy = sortDefinition.SortBy;
            descending = sortDefinition.Descending;
        }

        var data = await BoltonCupApi.GetSkaterStatsAsync(
            position: _filter.Position,
            tournamentId: _filter.Tournament?.Id,
            teamIds: _filter.Teams?.Select(x => x.Id).ToList(),
            page: state.Page + 1, 
            size: state.PageSize,
            sortBy: sortBy,
            descending: descending, 
            cancellationToken: cancellationToken
        );
        
        return new GridData<Sdk.SkaterStatDto> {
            TotalItems = data.Total,
            Items = data.Items,
        };
    }
    
    private Task OnFilterTournamentChange(Sdk.TournamentDto? tournament)
    {
        _filter.Tournament = tournament;
        _filter.Teams = null;
        return _dataGrid.ReloadServerData();
    }

    private string? TeamListToStringFunc(IReadOnlyCollection<Sdk.TeamDto>? teams)
    {
        if (teams?.Count is null or 0)
            return null;

        if (teams.Count <= 3)
            return string.Join(", ", teams.Select(x => x.NameShort));

        return $"{teams.First().NameShort} and {teams.Count - 1} more";
    }

    private class SkaterStatsFilterModel
    {
        public string? Position { get; set; }
        public Sdk.TournamentDto? Tournament { get; set; }
        public IReadOnlyCollection<Sdk.TeamDto>? Teams { get; set; }
    }

}