@using BoltonCup.Draft.Services
@namespace BoltonCup.Draft.Components
@implements IDisposable
@inject DraftStateService DraftState
@inject IDialogService DialogService

@if (DraftState.Draft is not null)
{
    <MudTable
        T="Sdk.RoundDraftPicks"
        Items="@(DraftState.Draft.DraftPicksByRound)"
        Breakpoint="Breakpoint.None"
        Elevation="0" 
        CellClass="border-0"
        RowClass="mud-table-dense-cells"
        Outlined="false"
        Dense>
        <HeaderContent>
            @foreach (var pick in DraftState.Draft?.PickOrder ?? [])
            {
                <MudTh Style="width: 120px">
                    <MudPaper Class="pa-2 d-flex flex-column align-center justify-space-between" Height="64px" Width="100%" MinWidth="120px" Elevation="1">
                        <MudImage Src="@pick.Team.Logo" Height="32" />
                        <MudText Typo="Typo.body2">@pick.Team.NameShort</MudText>
                    </MudPaper>
                </MudTh>
            }
        </HeaderContent>
        <RowTemplate>
            @foreach (var order in DraftState.Draft?.PickOrder ?? [])
            {
                var pick = context.Picks.FirstOrDefault(p => p.Team.Id == order.Team.Id);
                <MudTd Style="width: 120px">
                    @if (pick is not null)
                    {
                        <MudPaper Class="@CellClassFunc(pick)" Height="64px" Width="100%" MinWidth="120px" Elevation="1" @onclick="@(x => OnCellClick(x, pick))">
                            <div class="d-flex flex-row justify-space-between">
                                <MudText Typo="Typo.body2"><b>@pick.Player?.FullName</b></MudText>
                                <MudText Typo="Typo.caption">@pick.Round.@pick.RoundPick</MudText>
                            </div>
                            <div class="d-flex flex-row justify-space-between">
                                <MudText Typo="Typo.body2">@pick.Player?.Position?.ToUpper().FirstOrDefault()</MudText>
                                <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert>
                                    <MudImage Src="@pick.Player?.ProfilePicture" Height="24" />
                                </MudHidden>
                            </div>
                        </MudPaper>
                    }
                </MudTd>
            }
        </RowTemplate>
    </MudTable>
    
    <MudMenu @ref="@_contextMenu" id="_contextMenu" Modal="true" Style="position:fixed;top:0;left:0;width:1px;height:1px" PositionAtCursor>
        <MudMenuItem Icon="@Icons.Material.Rounded.Visibility" OnClick="@OpenPlayerCardDialog">
            Show Player Card
        </MudMenuItem>
        @if (DraftState.CanManageDraft)
        {
            <MudMenuItem Icon="@Icons.Material.Rounded.SwapHoriz" OnClick="@OpenReplacePickDialog">
                Change pick
            </MudMenuItem>
        }
    </MudMenu>
}


@code {

    private Sdk.DraftPickDto? _contextDraftPick;
    private MudMenu _contextMenu = null!;

    protected override void OnInitialized()
    {
        DraftState.OnStateChanged += OnDraftStateChanged;
    }

    private void OnDraftStateChanged() => InvokeAsync(StateHasChanged);

    private Task OnCellClick(MouseEventArgs args, Sdk.DraftPickDto draftPick)
    {
        // The context menu (player card, and pick management for owners/admins) only applies to filled picks.
        if (draftPick.Player is null)
            return Task.CompletedTask;

        _contextDraftPick = draftPick;
        return _contextMenu.OpenMenuAsync(args);
    }

    private Task OpenPlayerCardDialog()
    {
        if (_contextDraftPick?.Player is not { } player)
            return Task.CompletedTask;

        return DialogService.ShowAsync<PlayerDialog>(
            null,
            new DialogParameters<PlayerDialog>
            {
                { x => x.DraftId, DraftState.Draft!.Id },
                { x => x.PlayerId, player.Id }
            });
    }

    private Task OpenReplacePickDialog()
    {
        if (_contextDraftPick is not { } pick)
            return Task.CompletedTask;

        return DialogService.ShowAsync<ReplacePickDialog>(
            "Change pick",
            new DialogParameters<ReplacePickDialog>
            {
                { x => x.Pick, pick }
            });
    }


    private static string CellClassFunc(Sdk.DraftPickDto draftPick)
    {
        const string baseClass = "cursor-pointer pa-2 d-flex flex-column justify-space-between ";
        return baseClass + draftPick.Player?.Position switch
        {
            Core.Values.Position.Forward => "blue lighten-2 black-text",
            Core.Values.Position.Defense => "red lighten-2 black-text",
            Core.Values.Position.Goalie => "yellow lighten-4 black-text",
            _ => "mud-theme-dark"
        };
    }
    
    public void Dispose()
    {
        DraftState.OnStateChanged -= OnDraftStateChanged;
    }
}