@using MudBlazor.State
@namespace BoltonCup.Common.Components
@inherits ComponentBaseWithState


<div class="d-flex flex-row align-center justify-space-between gap-1">
    <MudTextField 
        @ref="_textField"
        @bind-Value="@_value"
        OnKeyDown="OnKeyDown"
        Label="@Label"
        Variant="@Variant"
        Disabled="!_editable"
        Margin="Margin.Dense"
        Underline="false"
    />
    
    <MudButtonGroup OverrideStyles="false">
        @if (_editable)
        {
            <MudIconButton OnClick="SaveChangesAsync" Icon="@Icons.Material.Rounded.Check" Color="Color.Primary" />
            <MudIconButton OnClick="DiscardChangesAsync" Icon="@Icons.Material.Rounded.Cancel" Color="Color.Error" />
        }
        else
        {
            <MudIconButton OnClick="BeginEditingAsync" Icon="@Icons.Material.Rounded.Edit" Color="Color.Info" />
        }
    </MudButtonGroup>
</div>

@code {

    [Parameter] 
    public string? Value { get; set; }

    [Parameter] 
    public EventCallback<string?> ValueChanged { get; set; }

    [Parameter]
    public bool Editable { get; set; }
    
    [Parameter]
    public EventCallback<bool> EditableChanged { get; set; }

    [Parameter]
    public string? Label { get; set; }

    private MudTextField<string?> _textField = null!;

    private string? _value;
    private bool _editable;
    private readonly ParameterState<string?> _valueState;
    private readonly ParameterState<bool> _editableState;

    private Variant Variant => _editable ? Variant.Filled : Variant.Text;


    public EditableField()
    {
        using var registerScope = CreateRegisterScope();
        _valueState = registerScope.RegisterParameter<string?>(nameof(Value))
            .WithParameter(() => Value)
            .WithEventCallback(() => ValueChanged)
            .WithChangeHandler(OnValueChange);
        _editableState = registerScope.RegisterParameter<bool>(nameof(Editable))
            .WithParameter(() => Editable)
            .WithEventCallback(() => EditableChanged)
            .WithChangeHandler(OnEditableChange);
    }

    private void OnValueChange(ParameterChangedEventArgs<string?> args)
    {
        _value = args.Value;
        StateHasChanged();
    }

    private void OnEditableChange(ParameterChangedEventArgs<bool> args)
    {
        _editable = args.Value;
        StateHasChanged();
    }

    private async Task SetEditableAsync(bool value)
    {
        _editable = value;
        await _editableState.SetValueAsync(value);
        if (value)
        {
            await _textField.BlurAsync();
            await _textField.FocusAsync();
        }
    }

    private Task EndEditingAsync() => SetEditableAsync(false);
    private Task BeginEditingAsync() => SetEditableAsync(true);

    private async Task SaveChangesAsync()
    {
        await _valueState.SetValueAsync(_value);
        await EndEditingAsync();
    }

    private async Task DiscardChangesAsync()
    {
        _value = _valueState.Value;
        await EndEditingAsync();
    }

    private Task OnKeyDown(KeyboardEventArgs args)
    {
        if (!_editable)
            return Task.CompletedTask;
        Console.WriteLine(args.Key);
        return args.Key switch
        {
            "Enter" => SaveChangesAsync(),
            "Escape" => DiscardChangesAsync(),
            _ => Task.CompletedTask
        };
    }
}