@page "/drafts/{DraftId:int}/manager"
@attribute [Authorize(Roles = "Admin")]
@inject IBoltonCupApi BoltonCupApi

@if (_loading)
{
    
}
else
{
    <MudDrawer 
        Open="@_drawerOpen" OpenChanged="@SetDrawerOpen" Elevation="1"
        Anchor="Anchor.Right" Variant="DrawerVariant.Mini" Breakpoint="Breakpoint.None"
        Width="350px" Height="calc(100vh - 64px)" Fixed="false" OpenMiniOnHover="false">
        @if (_selectedPlayer is not null)
        {
            <MudDrawerHeader>
                <MudStack Class="mud-width-full" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Row>
                    <MudText Typo="Typo.h6">@_selectedPlayer.Player.FullName</MudText>
                    <MudIconButton OnClick="@(() => SetDrawerOpen(false))" Icon="@Icons.Material.Rounded.Close" Class="rounded" Size="Size.Small" />
                </MudStack>
            </MudDrawerHeader>
            
            <PositionChip Position="@_selectedPlayer.Player.Position" Size="Size.Large" Variant="Variant.Outlined" />
            
            <MudStack Class="pa-1 mud-height-full mud-width-full">
                <div class="mud-width-full d-flex align-center justify-center">
                    <MudImage Src="@_selectedPlayer.Player.ProfilePicture" Width="150"/>
                </div>

                <MudSimpleTable Elevation="0" Square Striped Dense>
                    <tbody>
                    <tr>
                        @DrawerLabel("Rank")
                        @DrawerValue(_selectedPlayer.DraftRanking.ToString("F0"))
                    </tr>
                    <tr>
                        @DrawerLabel("Total Points")
                        @DrawerValue(_selectedPlayer.TotalPoints)
                    </tr>
                    <tr>
                        @DrawerLabel("Games Played")
                        @DrawerValue(_selectedPlayer.GamesPlayed)
                    </tr>
                    <tr>
                        @DrawerLabel("Points per game")
                        @DrawerValue(_selectedPlayer.PointsPerGame.ToString("F2"))
                    </tr>
                    </tbody>
                </MudSimpleTable>

                <MudSpacer/>

                <MudButton OnClick="@DraftSelectedPlayer" Disabled="@_selectedPlayer.IsDrafted" Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" FullWidth>
                    @if (_selectedPlayer.IsDrafted)
                    {
                        <div class="d-flex flex-row align-center gap-1">
                            <MudText Typo="Typo.button">Drafted</MudText>
                            <MudImage Src="@_selectedPlayer.Team?.Logo" Height="24" />
                        </div>
                    }
                    else
                    {
                        @:Draft @_selectedPlayer.Player.FullName
                    }
                </MudButton>
            </MudStack>
        }
    </MudDrawer>
    
    @if (_draft is not null)
    {
        <MudDataGrid
            @ref="_dataGrid"
            T="Sdk.DraftRankingDto"
            Class="filter-datagrid"
            ServerData="@PlayerServerFunc"
            RowClick="@(x => OpenPlayerDrawer(x.Item))"
            SortMode="SortMode.None"
            Breakpoint="Breakpoint.None"
            RowClass="cursor-pointer"
            RowStyle="height: 50px"
            RowsPerPage="50"
            Elevation="0"
            ShowColumnOptions="false"
            Height="75vh"
            Hover
            FixedHeader
            FixedFooter
            AllowUnsorted
            Striped
            Dense>
            <ToolBarContent>
                <div class="mud-width-full d-flex flex-row align-center gap-3 flex-wrap">
                    <FilterToolbarField
                        T="string?" Label="Position"
                        @bind-Value="@_filter.Position" OnApplyClicked="@_dataGrid.ReloadServerData">
                        <PositionFilter UseGoalie/>
                    </FilterToolbarField>
                
                    <MudChipSet T="int?" SelectedValue="@_filter.TeamId" SelectedValueChanged="@SelectedTeamChanged" SelectionMode="SelectionMode.ToggleSelection">
                        @foreach (var pickOrder in _draft.PickOrder)
                        {
                            <MudChip T="int?"
                                     Value="@pickOrder.Team.Id" Style="@($"background-color: {pickOrder.Team.PrimaryColorHex}{(pickOrder.Team.Id == _filter.TeamId ? "AA" : "11")}; color: {pickOrder.Team.SecondaryColorHex}AA;")"
                                     Variant="Variant.Text">
                                <MudImage Src="@pickOrder.Team.Logo" Height="24"/>
                            </MudChip>
                        }
                    </MudChipSet>
                
                    <MudToggleGroup 
                        T="bool?" Value="@_filter.IsDrafted" ValueChanged="@IsDraftedChanged"
                        Size="Size.Small" Color="Color.Primary">
                        <MudToggleItem T="bool?" Value="false" Text="Undrafted" />
                        <MudToggleItem T="bool?" Value="true" Text="Drafted" />
                        <MudToggleItem T="bool?" Value="null" Text="All" />
                    </MudToggleGroup>
                
                    <MudSpacer/>
                
                    <MudText Typo="Typo.h6"><b>Current Pick:</b></MudText>
                    @if (_currentPick is not null)
                    {
                        <MudImage Src="@_currentPick.Team.Logo" Height="48" />
                    }
                
                    <MudDivider FlexItem Vertical />
                
                    @if (_currentPick is not null)
                    {
                        <MudText Typo="Typo.body2">Pick @_currentPick.OverallPick</MudText>
                    }
                </div>
            </ToolBarContent>
            <Columns>
                <PropertyColumn Title="Player" Property="x => x.Player.FullName">
                    <CellTemplate>
                        <div class="d-flex flex-row align-center gap-1">
                            <MudText Typo="Typo.body2"><b>@context.Item.Player.FullName</b></MudText>
                            @if (context.Item.Team?.Logo is {} logo)
                            {
                                <MudImage Src="@logo" Height="24" />
                            }
                        </div>
                    </CellTemplate>
                    <FooterTemplate>
                        <MudChip T="string" Color="Color.Primary" Size="Size.Small" Variant="Variant.Filled" Label="true">@context.Items.Count(x => x.Player.Position == Core.Values.Position.Forward) forwards</MudChip>
                    </FooterTemplate>
                </PropertyColumn>
                <PropertyColumn Title="Position" Property="x => x.Player.Position">
                    <CellTemplate>
                        <PositionChip Position="@context.Item.Player.Position" Variant="Variant.Text" Size="Size.Small" />
                    </CellTemplate>
                    <FooterTemplate>
                        <MudChip T="string" Color="Color.Secondary" Size="Size.Small" Variant="Variant.Filled" Label="true">@context.Items.Count(x => x.Player.Position == Core.Values.Position.Defense) defensemen</MudChip>
                    </FooterTemplate>
                </PropertyColumn>
                <PropertyColumn Title="PPG" Property="x => x.PointsPerGame" Format="F2" />
                <PropertyColumn Title="P" Property="x => x.TotalPoints" />
                <PropertyColumn Title="GP" Property="x => x.GamesPlayed" />
                <PropertyColumn Title="Year" Property="x => x.Player.Birthday" Format="yyyy">
                    <FooterTemplate>
                        <MudChip T="string" Color="Color.Success" Size="Size.Small" Variant="Variant.Filled" Label="true">@context.Items.Count(x => x.Player.IsGoalie) goalies</MudChip>
                    </FooterTemplate>
                </PropertyColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="Sdk.DraftRankingDto" PageSizeSelector="false"/>
            </PagerContent>
        </MudDataGrid>
    }
    else
    {
        <MudAlert Severity="Severity.Error">No draft found.</MudAlert>
    }
}


@code {

    [Parameter]
    [EditorRequired]
    public required int DraftId { get; set; }

    private int? _draftId;
    private bool _loading;

    private Sdk.DraftSingleDto? _draft;
    private Sdk.DraftPickSingleDto? _currentPick;
    
    private bool _drawerOpen;
    private Sdk.DraftRankingDto? _selectedPlayer;

    private readonly DraftManagerFilterModel _filter = new();
    private MudDataGrid<Sdk.DraftRankingDto> _dataGrid = null!;
    

    protected override async Task OnParametersSetAsync()
    {
        if (_draftId == DraftId)
            return;
        _draftId = DraftId;

        _loading = true;
        
        _draft = await BoltonCupApi.GetDraftByIdAsync(DraftId);
        await LoadCurrentPickAsync();

        _loading = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task LoadCurrentPickAsync()
    {
        _currentPick = await BoltonCupApi.GetCurrentDraftPickAsync(DraftId);
    }

    private async Task<GridData<Sdk.DraftRankingDto>> PlayerServerFunc(GridState<Sdk.DraftRankingDto> state, CancellationToken cancellationToken)
    {
        if (_draft is null)
        {
            return new GridData<Sdk.DraftRankingDto>
            {
                TotalItems = 0,
                Items = []
            };
        }
        
        string? sortBy = null;
        bool? descending = null;
        var sortDefinition = state.SortDefinitions.FirstOrDefault();
        if (sortDefinition is not null)
        {
            sortBy = sortDefinition.SortBy;
            descending = sortDefinition.Descending;
        }
        else
        {
            sortBy = "DraftRanking";
            descending = false;
        }
        
        var data = await BoltonCupApi.GetDraftRankingsAsync(
            id: _draft.Id,
            position: _filter.Position,
            teamId: _filter.TeamId,
            isDrafted: _filter.TeamId.HasValue ? true : _filter.IsDrafted,
            page: state.Page + 1, 
            size: state.PageSize,
            sortBy: sortBy,
            descending: descending, 
            cancellationToken: cancellationToken
        );
        
        return new GridData<Sdk.DraftRankingDto>
        {
            TotalItems = data.Total,
            Items = data.Items,
        };
    }

    private Task SetDrawerOpen(bool open)
    {
        if (open && _selectedPlayer is null)
            return Task.CompletedTask;
        if (!open)
            _selectedPlayer = null;
        
        _drawerOpen = open;
        return InvokeAsync(StateHasChanged);
    }

    private void OpenPlayerDrawer(Sdk.DraftRankingDto player)
    {
        _selectedPlayer = player;
        _drawerOpen = true;
        InvokeAsync(StateHasChanged);
    }

    private Task SelectedTeamChanged(int? teamId)
    {
        _filter.TeamId = teamId;
        return _dataGrid.ReloadServerData();
    }

    private Task IsDraftedChanged(bool? includeDraftedPlayers)
    {
        _filter.IsDrafted = includeDraftedPlayers;
        return _dataGrid.ReloadServerData();
    }

    private async Task DraftSelectedPlayer()
    {
        if (_selectedPlayer is null || _currentPick is null)
            return;
        await BoltonCupApi.DraftPlayerAsync(DraftId, new Sdk.DraftPlayerRequest
        {
            PlayerId = _selectedPlayer.Player.Id,
            TeamId = _currentPick.Team.Id,
            OverallPick = _currentPick.OverallPick
        });
        
        _selectedPlayer = null;
        _drawerOpen = false;
        
        await LoadCurrentPickAsync();
        await _dataGrid.ReloadServerData();
    }
    
    private class DraftManagerFilterModel
    {
        public string? Position { get; set; }
        public int? TeamId { get; set; }
        public bool? IsDrafted { get; set; } = false;
    }

    public RenderFragment DrawerLabel(string label)
    {
        return @<td><b>@label</b></td>;
    }

    public RenderFragment DrawerValue(object value)
    {
        return @<td>@value</td>;
    }
}