@page "/games/{GameId:int}/penalties"
@using System.Linq.Expressions

<EntityDataGrid 
    @ref="_dataGrid" 
    T="Penalty"
    Include="@_includes"
    SearchBy="x => x.Player.Account.FirstName + ' ' + x.Player.Account.LastName"
    Filter="@_filter"
    Comparer="_comparer">
    <Columns>
        <PropertyColumn Property="x => x.Game" Editable="false">
            <CellTemplate>
                <span>@context.Item.Game.HomeTeam?.NameShort vs. @context.Item.Game.AwayTeam?.NameShort</span>
            </CellTemplate>
            <FooterTemplate>
                @{
                    var homeGoals = context.Items.Count(x => x.TeamId == x.Game.HomeTeamId);
                    var awayGoals = context.Items.Count(x => x.TeamId == x.Game.AwayTeamId);
                }
                <MudChip Variant="Variant.Filled" Color="Color.Surface" Label="true">
                    @context.Items.FirstOrDefault()?.Game.HomeTeam?.NameShort @homeGoals | @context.Items.FirstOrDefault()?.Game.AwayTeam?.NameShort @awayGoals
                </MudChip>
            </FooterTemplate>
        </PropertyColumn>
        <ForeignColumn Title="Team" Property="x => x.Team" PropertySetter="(gs, team) => gs.Team = team"
                       Filter="@(x => (y => y.Id == x.Game.HomeTeamId || y.Id == x.Game.AwayTeamId))"
                       SearchBy="x => x.Name"
                       EqualityComparer="new TeamComparer()" 
                       ImageSrcFunc="x => x.Logo" 
                       Required />
        <ForeignColumn Title="Player" Property="x => x.Player" PropertySetter="(p, player) => p.Player = player"
                       EqualityComparer="new PlayerComparer()" Include="x => x.Include(p => p.Account)"
                       Filter="@(x => (y => y.TeamId == x.TeamId))"
                       SearchBy="x => x.Account.FirstName + ' ' + x.Account.LastName" 
                       Required/>
        <PropertyColumn Title="Infraction" Property="x => x.InfractionName" Required />
        <PropertyColumn Title="Minutes" Property="x => x.DurationMinutes" Required />
        <PropertyColumn Title="Period" Property="x => x.Period" />
        <PropertyColumn Title="Time" Property="x => x.PeriodTimeRemaining" Required>
            <EditTemplate>
                <MudTimePicker 
                    Time="@context.Item.PeriodTimeRemaining" 
                    TimeChanged="@(async t => { context.Item.PeriodTimeRemaining = t.GetValueOrDefault(); await _dataGrid.NotifyItemChangedAsync(context.Item); })"
                    TimeFormat="mm:ss" Editable="true" Mask="@_timeMask" AdornmentIcon="@string.Empty"
                    Underline="false" Margin="Margin.Dense" />
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Notes" Property="x => x.Notes" Required="false" />
    </Columns>
</EntityDataGrid>


@code {

    [Parameter]
    public int GameId { get; set; }

    private int? _gameId;

    private static IMask _timeMask = new Utilities.TimeSpanMask("mm:ss");

    private EntityDataGrid<Penalty> _dataGrid = null!;
    private static readonly PenaltyComparer _comparer = new();

    private Expression<Func<Penalty, bool>>? _filter;

    private static readonly Func<IQueryable<Penalty>, IQueryable<Penalty>> _includes = 
        x => x
            .Include(g => g.Player).ThenInclude(p => p.Account)
            .Include(g => g.Game).ThenInclude(g => g.HomeTeam)
            .Include(g => g.Game).ThenInclude(g => g.AwayTeam)
            .Include(g => g.Game).ThenInclude(g => g.Tournament);

    
    protected override Task OnParametersSetAsync()
    {
        if (_gameId == GameId)
            return Task.CompletedTask;
        _gameId = GameId;
        
        _filter = x => x.GameId == _gameId;
        return _dataGrid is not null
            ? _dataGrid.ReloadAsync()
            : Task.CompletedTask;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await _dataGrid.ExtendSortAsync("Period", SortDirection.Ascending, x => x.Period);
        await _dataGrid.ExtendSortAsync("PeriodTimeRemaining", SortDirection.Ascending, x => x.PeriodTimeRemaining);
    }

}
