@page "/games/schedules"

<EntityDataGrid
    T="Game"
    @ref="@_dataGrid"
    NewItemFunc="NewItemFunc"
    Include="x => x.Include(p => p.Goals).Include(p => p.Penalties)"
    Comparer="_comparer">
    <Columns>
        <ForeignColumn Title="Home" Property="x => x.HomeTeam" PropertySetter="(game, team) => game.HomeTeam = team" 
                       EqualityComparer="new TeamComparer()" ImageSrcFunc="x => x.Logo"
                       Filter="@(x => (y => y.TournamentId == x.TournamentId))"/>
        <ForeignColumn Title="Away" Property="x => x.AwayTeam" PropertySetter="(game, team) => game.AwayTeam = team" 
                       EqualityComparer="new TeamComparer()" ImageSrcFunc="x => x.Logo"
                       Filter="@(x => (y => y.TournamentId == x.TournamentId))"/>
        <DateTimePickerColumn Title="Date" Property="x => x.GameTime" />
        <EnumColumn Title="Type" Property="x => x.GameType"/>
        <PropertyColumn Title="Venue" Property="x => x.Venue"/>
        <PropertyColumn Title="Rink" Property="x => x.Rink"/>
        <ForeignColumn Title="Tournament" Property="x => x.Tournament" PropertySetter="(game, tournament) => game.Tournament = tournament!"
                       EqualityComparer="new TournamentComparer()" ImageSrcFunc="t => t.Logo" />
    </Columns>
    <ChildRowContent>
        @{
            var homeGoals = context.Item.Goals.Count(x => x.TeamId == context.Item.HomeTeamId);
            var awayGoals = context.Item.Goals.Count(x => x.TeamId == context.Item.AwayTeamId);
            var homePIMs = context.Item.Penalties.Where(x => x.TeamId == context.Item.HomeTeamId).Sum(x => x.DurationMinutes);
            var awayPIMs = context.Item.Penalties.Where(x => x.TeamId == context.Item.AwayTeamId).Sum(x => x.DurationMinutes);
        }
        <div class="pa-2 d-flex flex-row align-center gap-1">
            <MudChip T="string" Href='@($"/games/{context.Item.Id}/goals")' Text="@($"Goals ({homeGoals} - {awayGoals})")" Color="Color.Info" Variant="Variant.Text" Label="true"/>
            <MudChip T="string" Href='@($"/games/{context.Item.Id}/penalties")' Text="@($"Penalties ({homePIMs} - {awayPIMs})")" Color="Color.Info" Variant="Variant.Text" Label="true"/>
        </div>
    </ChildRowContent>
</EntityDataGrid>

@code {

    private EntityDataGrid<Game> _dataGrid = null!;
    private readonly GameComparer _comparer = new();
    
    private async Task<Game?> NewItemFunc()
    {
        return new Game
        {
            TournamentId = 1,
            GameTime = DateTime.Now,
        };
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await _dataGrid.ExtendSortAsync("Tournament.StartDate", SortDirection.Descending, x => x.Tournament.StartDate);
        await _dataGrid.ExtendSortAsync("GameTime", SortDirection.Ascending, x => x.GameTime);
    }
}