@page "/games/stars"
@using BoltonCup.Common

<EntityDataGrid
    @ref="@_dataGrid"
    T="GameStar"
    NewItemFunc="NewItemFunc"
    Include="@_includes"
    SearchBy="x => x.Player.Account.FirstName + ' ' + x.Player.Account.LastName"
    Comparer="_comparer">
    <Columns>
        <PropertyColumn Title="Rank" Property="x => x.StarRank" Required />
        <ForeignColumn Title="Player" Property="x => x.Player" PropertySetter="(gs, player) => gs.Player = player"
                       EqualityComparer="new PlayerComparer()" Include="x => x.Include(p => p.Account)"
                       Filter="@(x => {
                            var tournamentId = x.Game?.TournamentId;
                            return y => tournamentId == null || y.TournamentId == tournamentId;
                        })"
                       SearchBy="x => x.Account.FirstName + ' ' + x.Account.LastName"/>
        <ForeignColumn Title="Game" Property="x => x.Game" PropertySetter="(gs, game) => gs.Game = game"
                       Include="x => x.Include(g => g.HomeTeam).Include(g => g.AwayTeam).Include(g => g.Tournament)"
                       Filter="@(star =>
                               {
                                   var tournamentId = star.Game?.TournamentId;
                                   return y => tournamentId == null || y.TournamentId == tournamentId;
                               })"
                       SearchBy="@(x => (x.HomeTeam != null ? x.HomeTeam.Name : " ") + ' ' + (x.AwayTeam != null ? x.AwayTeam.Name : " "))"
                       EqualityComparer="new GameComparer()">
            <ItemTemplate>
                <MudText>@context.HomeTeam?.NameShort vs. @context.AwayTeam?.NameShort</MudText>
                <MudChip T="string" Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Label="true">
                    @context.GameTime.ToEstString("g")
                </MudChip>
                <MudText Typo="Typo.caption">@context.Tournament.Name</MudText>
                <MudDivider Class="mt-2" />
            </ItemTemplate>
        </ForeignColumn>
        <PropertyColumn Title="Game date" Property="x => x.Game.GameTime" Format="g" Editable="false">
            <CellTemplate>
                <span>@context.Item.Game?.GameTime.ToEstString("g")</span>
            </CellTemplate>
        </PropertyColumn>
        <TemplateColumn Title="Tournament" Editable="false">
            <CellTemplate>
                <span>@context.Item.Game?.Tournament?.Name</span>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</EntityDataGrid>

@code {

    private EntityDataGrid<GameStar> _dataGrid = null!;
    private readonly GameStarComparer _comparer = new();
    
    private async Task<GameStar?> NewItemFunc()
    {
        return new GameStar
        {
        };
    }

    private static readonly Func<IQueryable<GameStar>, IQueryable<GameStar>> _includes = 
        x => x
            .Include(g => g.Player).ThenInclude(p => p.Account)
            .Include(g => g.Game).ThenInclude(g => g.HomeTeam)
            .Include(g => g.Game).ThenInclude(g => g.AwayTeam)
            .Include(g => g.Game).ThenInclude(g => g.Tournament);
    
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await _dataGrid.ExtendSortAsync("Game.GameTime", SortDirection.Descending, x => x.Game.GameTime);
        await _dataGrid.ExtendSortAsync("StarRank", SortDirection.Ascending, x => x.StarRank);
    }
}