@page "/privacy-policy"

<MudContainer MaxWidth="MaxWidth.Medium">
    
    <div class="mud-width-full d-flex justify-center align-center" style="height: 150px">
        <MudText Typo="Typo.h4"><b>PRIVACY POLICY</b></MudText>
    </div>
    
    <MudDivider />
    
    <div class="d-flex flex-column gap-4">
        
        <i>Last Updated and Effective Date - February 01, 2026</i>

        <MudText>
            This privacy policy describes the manner in which Bolton Cup ("we", "our", "us") uses information in operating 
            our websites, apps, and other services that displays or provides an authorized link or reference to this
            Privacy Policy (collectively, the "Services").
        </MudText>
        
        <MudText>
            If you do not agree to your information being used in the manner described in this Privacy Policy, please do not
            use the Services. If you have any questions about this Privacy Policy, please contact us at @ContactLink
            or as described under the "Contact Us" section below.
        </MudText>
        
        @SectionHeader("Information Collection and Use")

        <MudText>
            Bolton Cup collects information when you use it. This information may include information such as
        </MudText>
        <ul>
            <li>
                <MudText>Your device's Internet Protocol address (e.g. IP address)</MudText>
            </li>
            <li>
                <MudText>The pages of Bolton Cup that you visit, the time and date of your visit, the time spent on those pages</MudText>
            </li>
            <li>
                <MudText>The time spent on Bolton Cup</MudText>
            </li>
            <li>
                <MudText>The operating system you use on your mobile device</MudText>
            </li>
        </ul>
        

        <MudText>We do not gather precise information about the location of your mobile device.</MudText>
        
        <MudText>
            We may use the information you provide to contact you from time to time to provide you
            with important information, required notices and marketing promotions.
        </MudText>
        
        <MudText>
            For a better experience, while using Bolton Cup, we may require you to provide us with certain personally identifiable
            information, including but not limited to name, email, birthday, phone, profile photo. The information that
            we request will be retained and used as described in this privacy policy.
        </MudText>

        @SectionHeader("Third Party Access")
        
        <MudText>
            Only aggregated, anonymized data is periodically transmitted to external services to aid us in 
            improving Bolton Cup and our service. We may share your information
            with third parties in the ways that are described in this privacy statement.
        </MudText>

        <div>
            <MudText>
                Please note that we utilize third-party services that have their own Privacy Policy about handling
                data. Below are the links to the Privacy Policy of the third-party service providers used by
                Bolton Cup:
            </MudText>
            <ul>
                <li>
                    <MudText>@Link("Sentry", "https://sentry.io/privacy/")</MudText>
                </li>
                <li>
                    <MudText>@Link("Stripe", "https://stripe.com/en-ca/privacy")</MudText>
                </li>
            </ul>
        </div>
        

        <MudText>We may disclose User Provided and Automatically Collected Information:</MudText>
        <ul>
            <li>
                <MudText>as by law, such as to comply with a subpoena, or similar legal process;</MudText>
            </li>
            <li>
                <MudText>when they believe in good faith that disclosure is necessary to protect their rights, protect your safety or the
                safety of others, investigate fraud, or respond to a government request;
                </MudText>
            </li>
            <li>
                <MudText>with their trusted services providers who work on their behalf, do not have an independent use of the
                information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.
                </MudText>
            </li>
        </ul>

        @SectionHeader("Opt-Out Rights")
        
        <MudText>
            You have a number of choices about how we handle information we collect and receive about you.
        </MudText>
        <ul>
            <li>
                <MudText>
                <b>Email.</b>
                You may opt out of receiving future promotional email communications from us by clicking 
                the "Unsubscribe" link in the footer of promotional email communications and updating your preferences. 
                Please note that we may continue to send you transactional or service-related emails regarding your account. 
                To opt-out of receiving emails from Member Clubs or Business Partners, please contact those parties directly.
                </MudText>
            </li>
            <li>
                <MudText>
                <b>SMS and MMS.</b>
                You may opt out of receiving promotional SMS and MMS messages (i.e., text messages) from us by 
                replying "STOP" to any message, which is free of charge. Please note that we may respond to your 
                opt-out request with a message confirming that you have successfully opted out.
                </MudText>
            </li>
            <li>
                <MudText>
                <b>Cookies.</b>
                For information on our use of cookies and similar technologies and your choices, please see 
                our @Link("Cookie Policy", "/cookie-policy") or visit Bolton Cup's "Cookie Settings" @Link("here", "/cookie-settings").
                </MudText>
            </li>
        </ul>

        @SectionHeader("Data Retention Policy")

        <MudText>
            We will retain User Provided data for as long as you use Bolton Cup and for a reasonable time
            thereafter. If you'd like them to delete User Provided Data that you have provided, please
            contact us at @ContactLink or as described under the "Contact Us" section below.
        </MudText>

        @SectionHeader("Children's Privacy")

        <MudText>
            Our Services do not knowingly collect, use, or disclose personal information from children under the age of 13 
            or as otherwise defined by local law without prior parental consent.
        </MudText>

        @SectionHeader("Security")

        <MudText>
            We are concerned about safeguarding the confidentiality of your information. 
            We provide physical, electronic, and procedural safeguards to protect information 
            that we process and maintain.
        </MudText>

        @SectionHeader("Changes")

        <MudText>
            This Privacy Policy may be updated from time to time for any reason. The Service Provider
            will notify you of any changes to the Privacy Policy by updating this page with the new Privacy Policy. You are
            advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all
            changes.
        </MudText>

        @SectionHeader("Your Consent")

        <MudText>
            By using Bolton Cup, you are consenting to the processing of your information as set forth in this Privacy Policy 
            now and as amended by us.
        </MudText>
        

        @SectionHeader("Contact Us")

        <MudText>
            If you have any questions about this Privacy Policy or the manner in which we or our service providers treat personal
            information, please contact us at @ContactLink and select "Privacy" for the subject line.
        </MudText>
        
    </div>

</MudContainer>


@code {

    private RenderFragment SectionHeader(string text) => @<MudText Typo="Typo.h6"><b>@text</b></MudText>;

    private RenderFragment Link(string text, string href) => @<MudLink Href="@href" Color="Color.Info">@text</MudLink>;

    private RenderFragment ContactLink => @Link("boltoncup.ca/contact", "/contact");

}