@page "/player/{id:int}"

@inject IBCData BCData
@inject NavigationManager Navigation

<MudPaper Class="py-10 my-5 mx-2 px-2 px-sm-10 mx-sm-5">

    @if (profile is not null && profilePicture is not null)
    {
        <MudStack Class="d-flex align-center mb-10" Wrap="Wrap.Wrap" Row="true">
            <MudText Typo="Typo.h3">@profile.name.ToUpper()</MudText>
            @if (profile.champion)
            {
                <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Large" Color="Color.Warning"></MudIcon>
                
            }
            <MudDivider Class="d-none d-sm-flex mx-2" Vertical="true" FlexItem="true" />
            <MudImage Src="@TeamLogoById(profile.team_id)" Height="80" />
            <MudDivider Class="mx-2" Vertical="true" FlexItem="true" />
            <MudText Typo="Typo.h2">#@profile.jersey_number</MudText>
            <MudDivider Class="mx-2" Vertical="true" FlexItem="true" />
            <MudText Typo="Typo.h2">@profile.position.ToUpper().First()</MudText>
        </MudStack>
        <MudStack Class="d-flex align-center mb-10" Wrap="Wrap.Wrap" Row="true">
            <div class="d-flex align-center mb-10">

                <MudImage Src="@profilePicture.Source" Height="200" />

                <MudDivider Class="d-none d-sm-flex px-4" Vertical="true" FlexItem="true" />

                <MudStack Class="mx-2">
                    <MudText>Birth Year: @profile.dob.ToString("yyyy")</MudText>
                    @* <MudText>Hometown:</MudText> *@
                    <MudText>Favourite Beer: @profile.preferred_beer</MudText>
                </MudStack>

                <MudDivider Class="d-none d-sm-flex px-4" Vertical="true" FlexItem="true" />
            </div>


            @if (profile.position == "goalie")
            {
                <GoalieStatSummary PlayerId="@Id" />
            }
            else
            {
                <PlayerStatSummary PlayerId="@Id" />
            }

        </MudStack>

        <MudText Typo="Typo.h4">Game History</MudText>
        <MudDivider />

        @if (profile.position == "goalie")
        {
            <GoalieGameByGame PlayerId="@Id" />
        }
        else
        {
            <PlayerGameByGame PlayerId="@Id" />
        }
    }
    else
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="70vw" Height="10vh" />
        <MudStack Class="my-10" Row="true">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="20vw" Height="30vh" />
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="20vw" Height="30vh" />
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="20vw" Height="30vh" />
        </MudStack>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="80vw" Height="25vh" />
    }
    </MudPaper>

    @code {
    [Parameter] public int Id { get; set; }

    private PlayerProfile? profile;
    private PlayerProfilePicture? profilePicture;
    private IEnumerable<Data.BCTeam>? teams;

    private string TeamLogoById(int? id) => teams is null || id is null ? string.Empty : (teams.FirstOrDefault(x => x.id == id)?.logo_url ?? string.Empty);

    protected override async Task OnParametersSetAsync()
    {
        var profileTask = BCData.GetPlayerProfileById(Id);
        var profilePicTask = BCData.GetPlayerProfilePictureById(Id);
        var teamsTask = BCData.GetTeams();
        await Task.WhenAll(profileTask, profilePicTask, teamsTask);
        
        profile = profileTask.Result;
        profilePicture = profilePicTask.Result;
        teams = teamsTask.Result;
    }
}