@page "/registrations"
@using System.Text.Json
@using BoltonCup.Common
@inject IDialogService DialogService

<EntityDataGrid
    @ref="@_dataGrid"
    T="TournamentRegistration"
    SelectedItemsChanged="@SelectedItemsChanged"
    Comparer="@_comparer"
    SearchBy="@(x => x.Account.FirstName + " " + x.Account.LastName)"
    Include="@_include"
    NoDeleting>
    <ActionMenu>
        <MudMenuItem Label="Complete Registration" OnClick="@CompleteSelectedRegistrations" Disabled="@(_selectedItems.Count == 0)" />
    </ActionMenu>
    <Columns>
        <ForeignColumn Title="Name" Property="x => x.Account" Editable="false" />
        <PropertyColumn Title="Current step" Property="x => x.CurrentStep" Editable="false" CellStyle="text-align: right"/>
        <PropertyColumn Title="Data" Property="x => x.Payload" Sortable="false" Editable="false" CellStyle="text-align: center">
            <CellTemplate>
                @if (!string.IsNullOrEmpty(context.Item.Payload))
                {
                    <MudIconButton OnClick="@(_ => ViewPayload(context.Item))" Icon="@Icons.Material.Rounded.RemoveRedEye" Size="Size.Small"/>
                }
            </CellTemplate>
        </PropertyColumn>
        <BoolColumn Title="Completed?" Property="x => x.IsComplete" />
        <PropertyColumn Title="Status" Property="x => x.Tournament.Players.Any(p => p.AccountId == x.AccountId)" 
                        Editable="false" CellStyle="text-align: center">
            <CellTemplate>
                @if (context.Item.Tournament.Players.Any(p => p.AccountId == context.Item.AccountId))
                {
                    <MudChip T="string" Text="Playing" Color="Color.Success" Variant="Variant.Text" Size="Size.Small" Label="true" />
                }
                else
                {
                    <MudChip T="string" Text="Not Playing" Color="Color.Error" Variant="Variant.Text" Size="Size.Small" Label="true" />
                }
            </CellTemplate>
        </PropertyColumn>
        <TemplateColumn Title="Payment ID" Sortable="false" Editable="false">
            <CellTemplate>
                @{
                    var player = context.Item.Account.Players.FirstOrDefault(p => p.TournamentId == context.Item.TournamentId);
                    if (player is not null)
                    {
                        <MudText Typo="Typo.body2">@player.PaymentId</MudText>
                    }
                }
            </CellTemplate>
        </TemplateColumn>
        <ForeignColumn Title="Tournament" Property="x => x.Tournament" Editable="false"/>
        <PropertyColumn Title="Created at" Property="x => x.CreatedAt" Editable="false" Format="g" InitialDirection="SortDirection.Descending">
            <CellTemplate>
                <span>@context.Item.CreatedAt.ToEstString("g")</span>
            </CellTemplate>
        </PropertyColumn>
    </Columns>
</EntityDataGrid>


<MudDrawer Open="_drawerOpen" OpenChanged="@OnDrawerOpenChange" Class="pa-4" Anchor="Anchor.End" Variant="DrawerVariant.Temporary" Width="320px">
    <MudDrawerHeader>
        <div class="mud-width-full d-flex flex-row justify-end">
            <MudIconButton OnClick="@(_ => OnDrawerOpenChange(false))" Icon="@Icons.Material.Rounded.Close" />
        </div>
    </MudDrawerHeader>
    <MudTextField Value="@_currentPayload" Variant="Variant.Text" Sizing="InputSizing.Auto" Underline="false" Typo="Typo.body2" FullWidth ReadOnly />
</MudDrawer>

@code {

    private EntityDataGrid<TournamentRegistration> _dataGrid = null!;
    
    private bool _drawerOpen;
    private string? _currentPayload;

    private static readonly TournamentRegistrationComparer _comparer = new();
    private HashSet<TournamentRegistration> _selectedItems = new(_comparer);

    private static readonly Func<IQueryable<TournamentRegistration>, IQueryable<TournamentRegistration>> _include =
        x => x
            .Include(p => p.Account).ThenInclude(a => a.Players)
            .Include(p => p.Tournament).ThenInclude(t => t.Players);
    

    private void OnDrawerOpenChange(bool open)
    {
        _drawerOpen = open;
        _currentPayload = null;
    }

    private async Task ViewPayload(TournamentRegistration registration)
    {
        if (string.IsNullOrEmpty(registration.Payload))
            return;
        
        using JsonDocument doc = JsonDocument.Parse(registration.Payload);
        _currentPayload = JsonSerializer.Serialize(doc, new JsonSerializerOptions
        {
            WriteIndented = true,
            IndentSize = 4,
        });

        _drawerOpen = true;
        await InvokeAsync(StateHasChanged);
    }

    private void SelectedItemsChanged(HashSet<TournamentRegistration> items)
    {
        _selectedItems.Clear();
        _selectedItems.UnionWith(items);
    }

    private async Task CompleteSelectedRegistrations()
    {
        if (_selectedItems.Count == 0)
            return;

        var dialog = await DialogService.ShowAsync<CompleteRegistrationsDialog>("Complete Registrations", new DialogParameters<CompleteRegistrationsDialog>
        {
            { x => x.Registrations, _selectedItems }
        });
        var result = await dialog.Result;

        if (result?.Data is true)
            await _dataGrid.ReloadAsync();
    }

}