@namespace BoltonCup.Admin.Components.Shared
@using MudBlazor.State
@inherits ComponentBaseWithState

@if (Disabled)
{
    <MudImage Src="@_src" Height="@Height" Width="@Width" />
}
else
{
    <MudLink Class="container" OnClick="OnClick">
        <MudImage Src="@_src" Height="@Height" Width="@Width" />
        <div class="middle">
            <MudIcon Icon="@Icons.Material.Filled.Edit" />
        </div>
    </MudLink>
}


@code {
    
    [Parameter]
    public string? Src { get; set; }
    
    [Parameter]
    public EventCallback<string?> SrcChanged { get; set; }

    [Parameter]
    public int? Width { get; set; }

    [Parameter]
    public int? Height { get; set; } = 24;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public bool Disabled { get; set; }

    private string? _src;
    
    private readonly ParameterState<string?> _srcState;
    

    public EditableImage()
    {
        using var registerScope = CreateRegisterScope();
        _srcState = registerScope.RegisterParameter<string?>(nameof(Src))
            .WithParameter(() => Src)
            .WithEventCallback(() => SrcChanged)
            .WithChangeHandler(OnSrcChange);
    }

    private void OnSrcChange(ParameterChangedEventArgs<string?> args)
    {
        _src = args.Value;
        StateHasChanged();
    }

    private async Task OnClick()
    {
        
    }
    
}