@inherits LayoutComponentBase

@inject NavigationManager Navigation

<MudThemeProvider Theme="@_theme" IsDarkMode="@_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        
        <MudImage Class="mt-4 pr-4 clickable" @onclick="@NavToHome" Src="https://iiedqecnfyojvubvugmy.supabase.co/storage/v1/object/public/logos//bc-new.png" Width="120"/>

        <div class="d-none d-md-block">
            <MudButton Color="Color.Inherit" Href="/" Variant="Variant.Text" Size="Size.Large">HOME</MudButton>
            <MudButton Color="Color.Inherit" Href="/info" Variant="Variant.Text" Size="Size.Large">INFO</MudButton>
            <MudButton Color="Color.Inherit" Href="/teams" Variant="Variant.Text" Size="Size.Large">TEAMS
            </MudButton>
            <MudButton Color="Color.Inherit" Href="/schedule" Variant="Variant.Text" Size="Size.Large">SCHEDULE
            </MudButton>
            <MudButton Color="Color.Inherit" Href="/stats" Variant="Variant.Text" Size="Size.Large">STATS
            </MudButton>
        </div>

        <MudSpacer/>

        <div class="d-block d-md-none">
            @* <NavDrawer/> *@
            <NavOverlayMenu IconColor="Color.Tertiary">
                <NavOverlayMenuItem Icon="@Icons.Material.Filled.Home" IconClass="white-text" Href="/" Label="Home" LabelClass="white-text" />
                <NavOverlayMenuItem Icon="@Icons.Material.Filled.Info" IconClass="white-text" Href="/info" Label="Info" LabelClass="white-text" />
                <NavOverlayMenuItem Icon="@Icons.Material.Filled.People" IconClass="white-text" Href="/teams" Label="Teams" LabelClass="white-text" />
                <NavOverlayMenuItem Icon="@Icons.Material.Filled.Schedule" IconClass="white-text" Href="/schedule" Label="Schedule" LabelClass="white-text" />
                <NavOverlayMenuItem Icon="@Icons.Material.Filled.BarChart" IconClass="white-text" Href="/stats" Label="Stats" LabelClass="white-text" />
            </NavOverlayMenu>
        </div>

        <div class="d-none d-md-block">
            <MudButton Color="Color.Inherit" Href="/register" Variant="Variant.Text" Size="Size.Large">REGISTER</MudButton>
        </div>
    </MudAppBar>
        
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


@code {
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new CustomThemeProvider().Theme;
    }

    private void NavToHome() => Navigation.NavigateTo("");
}