@page "/scoresheet"
@page "/scoresheet/{GameId:int}"

@using SpotifyAPI.Web

@inject IBCData BCData
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject SpotifyService Spotify
@inject ISnackbar Snackbar


<div class="relative">
    @if (_game is not null)
    {

        if (_homeTeam is not null && _awayTeam is not null)
        {
            <MudStack AlignItems="AlignItems.Center" Row>
                <MudImage Src="@_homeTeam.logo_url" Width="70" />
                <MudText Typo="Typo.h6">@_homeTeam.name - <b>@HomeGoals.Count()</b></MudText>            
                
                <MudSpacer />
                
                @if (ReadOnly)
                {
                    <MudButton OnClick="BeginRecordingGame" Color="Color.Info" Variant="Variant.Filled">Begin Recording</MudButton>
                }
                else
                {
                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small">
                        <MudTooltip Text="Saves the game for editing later" Duration="0">
                            <MudButton OnClick="SaveGame" StartIcon="@Icons.Material.Filled.Save">Save</MudButton>
                        </MudTooltip>
                        <MudTooltip Text="Saves the game and marks it as complete" Duration="0">
                            <MudButton OnClick="CompleteGame" StartIcon="@Icons.Material.Filled.Check">Complete</MudButton>
                        </MudTooltip>
                    </MudButtonGroup>
                }
                
                <MudSpacer />
                
                <MudText Typo="Typo.h6"><b>@AwayGoals.Count()</b> - @_awayTeam.name</MudText>
                <MudImage Src="@_awayTeam.logo_url" Width="70" />
            </MudStack>
        }
        
        <MudToolBar>
            <AddGoalButton Game="_game" Team="_homeTeam" Players="_homeRoster" ReadOnly="ReadOnly" OnGoalAdded="LoadDataAsync" WithGoalHorn="_playGoalHorn" />
            <MudSpacer />
            <MudSwitch @bind-Value="_playGoalHorn" Color="Color.Primary" Label="Play Goal Horn"></MudSwitch>
            <MudSpacer />
            <AddGoalButton Game="_game" Team="_awayTeam" Players="_awayRoster" ReadOnly="ReadOnly" OnGoalAdded="LoadDataAsync" WithGoalHorn="_playGoalHorn" />
        </MudToolBar>
        
        <MudGrid Style="height: 35vh">
            <MudItem xs="6">
                @GoalTable(HomeGoals)                
            </MudItem>            
            <MudItem xs="6">
                @GoalTable(AwayGoals)
            </MudItem>
        </MudGrid>
    
        
        <MudToolBar>
            <AddPenaltyButton Game="_game" Team="_homeTeam" Players="_homeRoster" ReadOnly="ReadOnly" OnPenaltyAdded="LoadDataAsync" />
            <MudSpacer />
            <AddPenaltyButton Game="_game" Team="_awayTeam" Players="_awayRoster" ReadOnly="ReadOnly" OnPenaltyAdded="LoadDataAsync" />
        </MudToolBar>
        
        <MudGrid Style="height: 35vh">
            <MudItem xs="6">
                @PenaltyTable(HomePenalties)
            </MudItem>            
            <MudItem xs="6">
                @PenaltyTable(AwayPenalties)
            </MudItem>
        </MudGrid>
    
    }
    
    
    <MudOverlay Visible="_loading" DarkBackground Absolute>
        <MudProgressCircular Size="Size.Large" Indeterminate />
    </MudOverlay>
</div>


@code {
    
    [CascadingParameter]
    public int? EditingGameId { get; set; }

    [Parameter] 
    public int GameId { get; set; }

    private BCGame? _game;
    private BCTeam? _homeTeam;
    private BCTeam? _awayTeam;
    private IEnumerable<PlayerProfile> _homeRoster = [];
    private IEnumerable<PlayerProfile> _awayRoster = [];
    
    private IEnumerable<GameGoal> _goals = [];
    private IEnumerable<GamePenalty> _penalties = [];
    
    private bool _loading;
    private bool _playGoalHorn = true;

    private IEnumerable<GameGoal> HomeGoals => _homeTeam is null ? [] : _goals.Where(g => g.TeamId == _homeTeam.id);
    private IEnumerable<GameGoal> AwayGoals => _awayTeam is null ? [] : _goals.Where(g => g.TeamId == _awayTeam.id);
    private IEnumerable<GamePenalty> HomePenalties => _homeTeam is null ? [] : _penalties.Where(g => g.TeamId == _homeTeam.id);
    private IEnumerable<GamePenalty> AwayPenalties => _awayTeam is null ? [] : _penalties.Where(g => g.TeamId == _awayTeam.id);

    private bool ReadOnly => _game is not null && _game.state != GameState.Active;
    

    protected override async Task OnInitializedAsync()
    {
        if (GameId == 0)
        {
            // TODO: check if there is a live game and navigate to its scoresheet endpoint
            var currentGame = await BCData.GetActiveGamesAsync();
            if (currentGame.Any())
            {
                Navigation.NavigateTo($"scoresheet/{currentGame.First().id}");
            }
            else
            {
                Navigation.NavigateTo("/games");
            }
        }
    }
    
    
    protected override async Task OnParametersSetAsync()
    {
        await LoadDataAsync();
    }



    private async Task LoadDataAsync()
    {
        _loading = true;
        InvokeAsync(StateHasChanged);

        _game = await BCData.GetGameById(GameId);

        if (_game is not null)
        {
            var homeTeamTask = BCData.GetTeamById(_game.home_team_id);
            var awayTeamTask = BCData.GetTeamById(_game.away_team_id);
            var homeRosterTask = BCData.GetRosterByTeamId(_game.home_team_id);
            var awayRosterTask = BCData.GetRosterByTeamId(_game.away_team_id);
            var goalsTask = BCData.GetGameGoalsByGameId(_game.id);
            var penaltiesTask = BCData.GetGamePenaltiesByGameId(_game.id);

            await Task.WhenAll(homeTeamTask, awayTeamTask, homeRosterTask, awayRosterTask, goalsTask, penaltiesTask);
            
            _homeTeam = homeTeamTask.Result;
            _awayTeam = awayTeamTask.Result;
            _homeRoster = homeRosterTask.Result;
            _awayRoster = awayRosterTask.Result;
            _goals = goalsTask.Result;
            _penalties = penaltiesTask.Result;
        }

        _loading = false;
        InvokeAsync(StateHasChanged);
    }



    private async Task SaveGame()
    {
        if (_game is null) return;
        
        await BCData.EndRecordingGameAsync(_game.id);
        await LoadDataAsync();
    }



    private async Task CompleteGame()
    {
        if (_game is null) return;

        var confirmed = await DialogService.ShowMessageBox("Complete Game", "Continue? This will lock the game from any further changes.", noText: "Cancel", options: new()
        {
            MaxWidth = MaxWidth.Small,
        });
        if (!confirmed.GetValueOrDefault()) return;
        
        await BCData.EndRecordingGameAsync(_game.id, complete: true);
        await LoadDataAsync();
    }



    private async Task BeginRecordingGame()
    {
        if (_game is null) return;

        await BCData.BeginRecordingGameAsync(_game.id);

        await ConfigureGamePlaylist(_game);
        
        await LoadDataAsync();
    }


    private async Task ConfigureGamePlaylist(BCGame game)
    {
        var client = await Spotify.GetClientAsync();
        if (client is null) return;

        var user = await client.UserProfile.Current();

        if (!string.IsNullOrEmpty(game.playlist_id))
        {
            // ensure the playlist exists
            try
            {
                // spotify API has no endpoint to get a specific playlist that a user owns
                // so if this errors out, we know the current user does not own this playlist
                await client.Playlists.ChangeDetails(game.playlist_id, new PlaylistChangeDetailsRequest
                {
                    Public = true,
                });
            }
            catch (Exception e)
            {
                // if it does not invalidate the game playlist id
                Console.WriteLine($"From ConfigureGamePlaylist (checking if playlist exists): {e.Message}");
                game.playlist_id = null;
            }
        }
        
        // 

        if (string.IsNullOrEmpty(game.playlist_id))
        {
            try
            {
                // if no playlist, create one and populate
                var playlist = await client.Playlists.Create(user.Id, new PlaylistCreateRequest($"{game.HomeTeamNameShort} vs. {game.AwayTeamNameShort} {game.date:d} ({game.id})")
                {
                    Description = $"Bolton Cup: {game.HomeTeamNameShort} vs. {game.AwayTeamNameShort} ({game.date:f})."
                });

                if (playlist?.Id is null) return;

                var songsToAdd = await BCData.GetGameSongsAsync(game.id);

                var uris = songsToAdd.Select(x => $"spotify:track:{x.spotify_id}").ToList();

                await client.Playlists.AddItems(playlist.Id, new PlaylistAddItemsRequest(uris));
                await BCData.SetGamePlaylistAsync(game.id, playlist.Id);
            }
            catch (Exception e)
            {
                Console.WriteLine($"From ConfigureGamePlaylist (creating playlist): {e.Message}");
                Snackbar.Add("Something went wrong creating the playlist...", Severity.Error);
                return;
            }
        }
        
    }


    private async Task RemoveGoal(GameGoal? goal)
    {
        if (goal is null)
        {
            await DialogService.ShowMessageBox("Error", "Goal is null");
            return;
        }

        var confirmed = await DialogService.ShowMessageBox("", "Delete this goal?", noText: "Cancel", options: new DialogOptions
        {
            MaxWidth = MaxWidth.Small
        });

        if (confirmed.GetValueOrDefault())
        {
            await BCData.RemoveGoalAsync(goal.Id);
            await LoadDataAsync();
        }
    }
    
    
    private async Task RemovePenalty(GamePenalty? penalty)
    {
        if (penalty is null)
        {
            await DialogService.ShowMessageBox("Error", "Penalty is null");
            return;
        }

        var confirmed = await DialogService.ShowMessageBox("", "Delete this penalty?", noText: "Cancel", options: new DialogOptions
        {
            MaxWidth = MaxWidth.Small
        });

        if (confirmed.GetValueOrDefault())
        {
            await BCData.RemovePenaltyAsync(penalty.Id);
            await LoadDataAsync();
        }
    }


    private RenderFragment GoalTable(IEnumerable<GameGoal> goals)
    {
        return 
            @<MudDataGrid Items="goals" SortMode="SortMode.None" ShowColumnOptions="false" Dense>
                <Columns>
                <PropertyColumn Property="x => x.Period" Title="Period" />
                <PropertyColumn Property="@(x => x.Time.ToString(@"mm\:ss"))" Title="Time" />
                <PropertyColumn Property="x => x.ScorerName" Title="Scorer" />
                <PropertyColumn Property="x => x.Assist1Name" Title="Assist" />
                <PropertyColumn Property="x => x.Assist2Name" Title="Assist" />
                <TemplateColumn>
                    <CellTemplate>
                        <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Small" OnClick="(() => RemoveGoal(context.Item))" />
                    </CellTemplate>
                </TemplateColumn>
                </Columns>
            </MudDataGrid>;
    }

    private RenderFragment PenaltyTable(IEnumerable<GamePenalty> penalties)
    {
        return
            @<MudDataGrid Items="penalties" SortMode="SortMode.None" ShowColumnOptions="false" Dense>
                <Columns>
                    <PropertyColumn Property="x => x.Period" Title="Period"/>
                    <PropertyColumn Property="@(x => x.Time.ToString(@"hh\:mm"))" Title="Time"/>
                    <PropertyColumn Property="x => x.PlayerName" Title="Player"/>
                    <PropertyColumn Property="x => x.Infraction" Title="Infraction"/>
                    <TemplateColumn>
                        <CellTemplate>
                            <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Small" OnClick="(() => RemovePenalty(context.Item))" />
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>;
    }
}