@using System.ComponentModel.DataAnnotations
@using BoltonCup.Draft.Services
@namespace BoltonCup.Draft.Components.Shared
@inject DraftStateService DraftState
@inject IBoltonCupApi BoltonCupApi
@inject ISnackbar Snackbar

<MudDialog Style="height: 500px" ContentClass="pa-0">
    <DialogContent>
        <MudTabs 
            Position="Position.Left" 
            Class="mud-width-full mud-height-full" 
            TabHeaderClass="pa-2"
            Border 
            HideSlider>
            <MudTabPanel Text="General Settings" PanelClass="mud-width-full">
                
                <DraftSettingsForm Model="@_model" OnValidSubmit="@UpdateGeneralSettingsAsync" Title="General Settings" DisableIfUnmodified>
                    <MudTextField @bind-Value="@_model.Title" For="@(() => _model.Title)"
                                  Margin="Margin.Dense" Label="Draft name" FullWidth />

                    <div>
                        <MudText Typo="Typo.caption">Draft type</MudText>
                        <MudRadioGroup @bind-Value="@_model.DraftType" For="@(() => _model.DraftType)" Disabled="@(DraftState.Draft?.Status != Sdk.DraftStatus.Pending)">
                            <MudRadio Value="@Sdk.DraftType.Standard" Color="Color.Primary" Label="Standard"/>
                            <MudRadio Value="@Sdk.DraftType.Snake" Color="Color.Primary" Label="Snake"/>
                        </MudRadioGroup>
                    </div>

                    <MudSwitch @bind-Value="@_model.IsVisible" For="@(() => _model.IsVisible)" Color="Color.Primary" Label="Visible to everyone" />

                    <MudNumericField @bind-Value="@_model.SecondsPerPick" For="@(() => _model.SecondsPerPick)"
                                     Margin="Margin.Dense" Label="Seconds per pick" Min="10" Max="600" FullWidth />

                </DraftSettingsForm>
                
            </MudTabPanel>
            
            <MudTabPanel Text="Draft Order" PanelClass="mud-width-full">
                <DraftSettingsForm Model="@_model" OnValidSubmit="@UpdateDraftOrderingAsync" Title="Draft Order" Context="_" DisableIfUnmodified="@(DraftState.Draft?.Status != Sdk.DraftStatus.Pending)">
                    <MudDataGrid Class="mud-width-full" Items="@_pickOrder" SortMode="SortMode.None" Filterable="false" ShowColumnOptions="false" Elevation="0" Outlined Square Dense>
                        <Columns>
                            <PropertyColumn Title="Pick" Property="x => x.Pick" InitialDirection="SortDirection.Ascending" Sortable="false" CellStyle="text-align: right"/>
                            <PropertyColumn Title="Team" Property="x => x.Team.Name">
                                <CellTemplate>
                                    <div class="d-flex flex-row align-center gap-1">
                                        <MudImage Src="@context.Item.Team.Logo" Height="24"/>
                                        <MudText Typo="Typo.body2">@context.Item.Team.Name</MudText>
                                    </div>
                                </CellTemplate>
                            </PropertyColumn>
                            <TemplateColumn Title="Auto-pick">
                                <CellTemplate>
                                    <MudCheckBox T="bool" Value="@context.Item.AutoPick" Dense Disabled="@(!DraftState.CanManageDraft)"
                                                 ValueChanged="@(value => ToggleAutoPickAsync(context.Item, value))"/>
                                </CellTemplate>
                            </TemplateColumn>
                            <TemplateColumn>
                                <CellTemplate>
                                    <MudButtonGroup OverrideStyles="false" Size="Size.Small">
                                        <MudIconButton OnClick="@(_ => ShiftTeamOrderUp(context.Item))" Icon="@Icons.Material.Rounded.KeyboardArrowUp" Disabled="@(context.Item.Pick == 1 || DraftState.Draft?.Status != Sdk.DraftStatus.Pending)"/>
                                        <MudIconButton OnClick="@(_ => ShiftTeamOrderDown(context.Item))" Icon="@Icons.Material.Rounded.KeyboardArrowDown" Disabled="@(context.Item.Pick == _pickOrder.Count || DraftState.Draft?.Status != Sdk.DraftStatus.Pending)"/>
                                    </MudButtonGroup>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>
                    </MudDataGrid>
                </DraftSettingsForm>
            </MudTabPanel>
        </MudTabs>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    public IMudDialogInstance Dialog { get; set; } = null!;
    
    private readonly GeneralSettingsFormModel _model = new();
    private List<Sdk.DraftPickOrderDto> _pickOrder = [];
    
    protected override Task OnInitializedAsync()
    {
        if (DraftState.Draft is null)
        {
            Dialog.Close();
            return Task.CompletedTask;
        }

        _model.Title = DraftState.Draft.Title;
        _model.DraftType = DraftState.Draft.Type;
        _model.IsVisible = DraftState.Draft.IsVisible;
        _model.SecondsPerPick = DraftState.Draft.SecondsPerPick;
        _pickOrder = DraftState.Draft.PickOrder.ToList();
        
        return Dialog.SetOptionsAsync(Dialog.Options with
        {
            NoHeader = true,
            BackdropClick = true,
            CloseOnEscapeKey = true,
            CloseButton = false,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true,
        });
    }

    
    private async Task UpdateGeneralSettingsAsync(EditContext editContext)
    {
        if (DraftState.Draft is not {} draft)
            return;

        await BoltonCupApi.UpdateDraftAsync(draft.Id, new Sdk.UpdateDraftRequest
        {
            Title = _model.Title,
            DraftType = _model.DraftType,
            IsVisible = _model.IsVisible,
            SecondsPerPick = _model.SecondsPerPick
        });

        editContext.MarkAsUnmodified();
        Snackbar.Add("Your changes have been saved.", Severity.Success);
    }
    
    
    private async Task UpdateDraftOrderingAsync(EditContext editContext)
    {
        if (DraftState.Draft is null)
            return;
        
        try
        {
            await BoltonCupApi.UpdateDraftAsync(DraftState.Draft.Id, new Sdk.UpdateDraftRequest
            {
                Ordering = _pickOrder
                    .Select(x => new Sdk.DraftOrderingRequestEntry
                    {
                        TeamId = x.Team.Id,
                        Pick = x.Pick
                    })
                    .ToList()
            });
            
            editContext.MarkAsUnmodified();
            Snackbar.Add("Saved changes", Severity.Success);
        }
        catch (Sdk.ApiException e)
        {
            Snackbar.Add($"Unable to save changes: {e.Message}", Severity.Error);
        }
    }

    
    
    private async Task ToggleAutoPickAsync(Sdk.DraftPickOrderDto draftPick, bool value)
    {
        if (DraftState.Draft is null)
            return;

        var previous = draftPick.AutoPick;
        draftPick.AutoPick = value;

        try
        {
            await BoltonCupApi.UpdateDraftAsync(DraftState.Draft.Id, new Sdk.UpdateDraftRequest
            {
                AutoPickSettings = _pickOrder
                    .Select(x => new Sdk.DraftAutoPickRequestEntry
                    {
                        TeamId = x.Team.Id,
                        AutoPick = x.AutoPick
                    })
                    .ToList()
            });
        }
        catch (Sdk.ApiException e)
        {
            draftPick.AutoPick = previous;
            Snackbar.Add($"Unable to save changes: {e.Message}", Severity.Error);
        }
    }


    private Task ShiftTeamOrderUp(Sdk.DraftPickOrderDto draftPick)
    {
        if (draftPick.Pick == 1)
            return Task.CompletedTask;

        var swapPick = _pickOrder.FirstOrDefault(p => p.Pick == draftPick.Pick - 1);
        if (swapPick is not null)
            swapPick.Pick = draftPick.Pick;
        draftPick.Pick -= 1;
        
        return InvokeAsync(StateHasChanged);   
    }

    private Task ShiftTeamOrderDown(Sdk.DraftPickOrderDto draftPick)
    {
        if (draftPick.Pick == _pickOrder.Count)
            return Task.CompletedTask;
        
        var swapPick = _pickOrder.FirstOrDefault(p => p.Pick == draftPick.Pick + 1);
        if (swapPick is not null)
            swapPick.Pick = draftPick.Pick;
        draftPick.Pick += 1;
        
        return InvokeAsync(StateHasChanged);   
    }


    private class GeneralSettingsFormModel
    {
        [Required(ErrorMessage = "Draft name cannot be null.")]
        public string? Title { get; set; }

        public Sdk.DraftType DraftType { get; set; }

        public bool IsVisible { get; set; }

        [Range(10, 600, ErrorMessage = "Seconds per pick must be between 10 and 600.")]
        public int SecondsPerPick { get; set; } = 120;
    }
    
}