@page "/authentication/users"
@using BoltonCup.Infrastructure.Identity
@inject IDbContextFactory<AuthDbContext> DbContextFactory

<EntityDataGrid @ref="_dataGrid" T="BoltonCupUser" DbContextFunc="async ct => await DbContextFactory.CreateDbContextAsync(ct)">
    <Columns>
        <PropertyColumn Title="Id" Property="x => x.Id" Editable="false" Hidden />
        <PropertyColumn Title="Username" Property="x => x.UserName" Editable="false" />
        <PropertyColumn Title="Email" Property="x => x.Email" Editable="false">
            <CellTemplate>
                <div class="mud-width-full d-flex flex-row justify-space-between gap-3">
                    <MudText Typo="Typo.body2">@context.Item.Email</MudText>
                    @if (!string.IsNullOrEmpty(context.Item.Email))
                    {
                        if (context.Item.EmailConfirmed)
                        {
                            <MudIcon Icon="@Icons.Material.Rounded.Check" Color="Color.Success" Size="Size.Small" />
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Material.Rounded.Cancel" Color="Color.Error" Size="Size.Small" />
                        }
                    }
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Phone" Property="x => x.PhoneNumber" Editable="false">
            <CellTemplate>
                <div class="d-flex flex-row justify-space-between">
                    <MudText Typo="Typo.body2">@context.Item.PhoneNumber</MudText>
                    @if (!string.IsNullOrEmpty(context.Item.PhoneNumber))
                    {
                        if (context.Item.PhoneNumberConfirmed)
                        {
                            <MudIcon Icon="@Icons.Material.Rounded.Check" Color="Color.Success" Size="Size.Small" />
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Material.Rounded.Cancel" Color="Color.Error" Size="Size.Small" />
                        }
                    }
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Account ID" Property="x => x.AccountId">
            <EditTemplate>
                <MudNumericField 
                    T="int?" Value="@context.Item.AccountId" ValueChanged="v => { context.Item.AccountId = v; _dataGrid.NotifyItemChangedAsync(context.Item); }"
                    Margin="Margin.Dense" Variant="Variant.Text" Underline="false" Min="0" 
                    HideSpinButtons FullWidth
                />
            </EditTemplate>
        </PropertyColumn>
    </Columns>
</EntityDataGrid>


@code {

    private EntityDataGrid<BoltonCupUser> _dataGrid = null!;
    
}
