@namespace BoltonCup.WebClient.Components.Shared
@using BoltonCup.Common
@using BoltonCup.Sdk
@using MudBlazor.State
@inherits ComponentBaseWithState
@implements IDisposable
@inject IBoltonCupApi BoltonCupApi
@inject ISnackbar Snackbar

<MudPaper Class="pa-4" Elevation="0" Outlined>
    @if (_updateRequest is not null)
    {
        <EditForm EditContext="_editContext" OnValidSubmit="OnValidSubmit" class="mud-width-full">
            <DataAnnotationsValidator/>
            <div class="d-flex justify-end mb-2">
                @if (_editable)
                {
                    <MudButton OnClick="@DiscardChangesAsync" StartIcon="@Icons.Material.Rounded.Cancel" Color="Color.Error" Size="Size.Small">Discard</MudButton>
                    <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Rounded.Save" Color="Color.Primary" Size="Size.Small" Variant="Variant.Filled" DropShadow="false" Disabled="!(_editContext?.IsModified() ?? false)">Save</MudButton>
                }
                else
                {
                    <MudButton OnClick="@BeginEditingAsync" StartIcon="@Icons.Material.Rounded.Edit" Color="Color.Info" Size="Size.Small">Edit</MudButton>
                }
            </div>
            <AccountInfoTextField @bind-Value="@_updateRequest.FirstName" Label="First name" Disabled="!_editable" />
            <AccountInfoTextField @bind-Value="@_updateRequest.LastName" Label="Last name" Disabled="!_editable" />
            <AccountInfoTextField @bind-Value="@_updateRequest.Height" Label="Height" Disabled="!_editable" Mask="@_heightMask" ErrorText="Enter a valid height." />
            <AccountInfoIntField @bind-Value="@_updateRequest.Weight" Label="Weight" Disabled="!_editable" Min="0" ErrorText="Enter a valid weight." />
            <AccountInfoTextField @bind-Value="@_updateRequest.PreferredBeer" Label="Preferred beer" Disabled="!_editable" />
            <HighestLevelSelect @bind-Value="@_updateRequest.HighestLevel" Label="Highest Level" Disabled="!_editable" />
           
            <AccountInfoTextField Value="@_updateRequest.Birthday.ToShortDateString()" Label="Birthday" Disabled />
            <AccountInfoTextField Value="@_accountInfo?.Email" Label="Email" Disabled />
            @* <AccountInfoTextField Value="@_accountInfo?.Phone" Label="Phone" Disabled /> *@
        </EditForm>
    }
</MudPaper>


@code {

    [Parameter]
    public bool Editable { get; set; }
    
    [Parameter]
    public EventCallback<bool> EditableChanged { get; set; }

    private AccountDto? _accountInfo;

    private UpdateAccountRequest? _updateRequest;
    private EditContext? _editContext;
    private ValidationMessageStore? _messageStore;

    private bool _editable;
    private readonly ParameterState<bool> _editableState;

    private readonly IMask _heightMask = new PatternMask("0'00");

    public AccountInfoForm()
    {
        using var registerScope = CreateRegisterScope();
        _editableState = registerScope.RegisterParameter<bool>(nameof(Editable))
            .WithParameter(() => Editable)
            .WithEventCallback(() => EditableChanged)
            .WithChangeHandler(OnEditableChange);
    }
    
    protected override async Task OnInitializedAsync()
    {
        await UpdateRequestModelAsync();
        if (_updateRequest is not null)
        {
            _editContext = new EditContext(_updateRequest);
            _editContext.OnFieldChanged += HandleFieldChanged;
            _editContext.OnValidationRequested += HandleValidationRequested;
            _messageStore = new ValidationMessageStore(_editContext);
        }
    }
    
    private void OnEditableChange(ParameterChangedEventArgs<bool> args)
    {
        _editable = args.Value;
        StateHasChanged();
    }

    private async Task SetEditableAsync(bool value)
    {
        _editable = value;
        await _editableState.SetValueAsync(value);
        if (value)
        {
            // TODO: focus?
        }
    }
    
    private Task BeginEditingAsync() => SetEditableAsync(true);
    private Task EndEditingAsync() => SetEditableAsync(false);
    
    private void HandleFieldChanged(object? sender, FieldChangedEventArgs args)
    {
        StateHasChanged();
    }

    private void HandleValidationRequested(object? sender, ValidationRequestedEventArgs args)
    {
        _messageStore?.Clear();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (!context.IsModified() || await TryUpdateAccountInfo())
        {
            context.MarkAsUnmodified();
            await EndEditingAsync();
        }
    }
    
    private async Task DiscardChangesAsync()
    {
        await UpdateRequestModelAsync();
        _messageStore?.Clear();
        _editContext?.MarkAsUnmodified();
        _editContext?.Validate();
        await EndEditingAsync();
    }
    
    private async Task UpdateRequestModelAsync()
    {
        _accountInfo = await BoltonCupApi.GetMeAsync();
        if (_accountInfo is null)
            return;
        _updateRequest ??= new UpdateAccountRequest();
        _updateRequest.FirstName = _accountInfo.FirstName;
        _updateRequest.LastName = _accountInfo.LastName;
        _updateRequest.Birthday = _accountInfo.Birthday;
        _updateRequest.HighestLevel = _accountInfo.HighestLevel;
        _updateRequest.PreferredBeer = _accountInfo.PreferredBeer;
        _updateRequest.Height = _accountInfo.HeightFeet is null ? null : $"{_accountInfo.HeightFeet}'{_accountInfo.HeightInches ?? 0}";
        _updateRequest.Weight = _accountInfo.Weight;
    }

    private async Task<bool> TryUpdateAccountInfo()
    {
        if (_updateRequest is null)
            return false;

        try
        {
            await BoltonCupApi.UpdateAccountAsync(_updateRequest);
            await UpdateRequestModelAsync();
        }
        catch (ApiException<BoltonCupValidationProblemDetails> e)
        {
            _messageStore?.AddApiErrorResponse(_updateRequest, e.Result);
            _editContext?.NotifyValidationStateChanged();
            return false;
        }
        catch (ApiException e)
            when (e.StatusCode == 204)
        {
        }
        
        Snackbar.Add("Changes are saved.", Severity.Success);
        return true;
    }
    
    public void Dispose()
    {
        if (_editContext != null)
        {
            _editContext.OnFieldChanged -= HandleFieldChanged;
            _editContext.OnValidationRequested -= HandleValidationRequested;
        }
    }

}