@namespace BoltonCup.Components

<Heading TextWeight="TextWeight.Bold" Size="HeadingSize.Is6">GOALS</Heading>
@if (Goals is not null)
{
    <Table Narrow>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Player</TableHeaderCell>
            <TableHeaderCell>A</TableHeaderCell>
            <TableHeaderCell>A</TableHeaderCell>
            <TableHeaderCell TextAlignment="TextAlignment.Center">Period</TableHeaderCell>
            <TableHeaderCell>Time</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (ScoresheetGoal goal in Goals)
            {
                <TableRow>
                    <TableRowHeader>
                        <PlayerNameLink Player="@Api.TeamService.Instance().GetPlayerByNumber(goal.PlayerNumber!, TeamName)" />
                    </TableRowHeader>
                    <TableRowCell>
                        <PlayerNameLink Player="@Api.TeamService.Instance().GetPlayerByNumber(goal.Assist1!, TeamName)" />
                    </TableRowCell>
                    <TableRowCell>
                        <PlayerNameLink Player="@Api.TeamService.Instance().GetPlayerByNumber(goal.Assist2!, TeamName)" />
                    </TableRowCell>
                    <TableRowCell TextAlignment="TextAlignment.Center">@goal.Period</TableRowCell>
                    <TableRowCell>@goal.Time</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}

@code {
    [Parameter] public List<ScoresheetGoal>? Goals { get; set; } = null;
    [Parameter] public string TeamName { get; set; } = "";
}