@namespace BoltonCup.Components

<Heading TextWeight="TextWeight.Bold" Size="HeadingSize.Is6">PENALTIES</Heading>
@if (Penalties is not null)
{
    <Table Narrow>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Minutes</TableHeaderCell>
                <TableHeaderCell>Infraction</TableHeaderCell>
                <TableHeaderCell TextAlignment="TextAlignment.Center">Period</TableHeaderCell>
                <TableHeaderCell>Time</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (ScoresheetPenalty pen in Penalties)
            {
                <TableRow>
                    <TableRowHeader>
                        <PlayerNameLink Player="@Api.TeamService.Instance().GetPlayerByNumber(pen.PlayerNumber, TeamName)" />
                    </TableRowHeader>
                    <TableRowCell>@pen.Minutes</TableRowCell>
                    <TableRowCell>@pen.Infraction</TableRowCell>
                    <TableRowCell TextAlignment="TextAlignment.Center">@pen.Period</TableRowCell>
                    <TableRowCell>@pen.Time</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}

@code {
    [Parameter] public List<ScoresheetPenalty>? Penalties { get; set; } = null;
    [Parameter] public string TeamName { get; set; } = "";
}