@page "/games/{GameId:int}"
@attribute [Sitemap(SitemapChangeFrequency.Yearly, LastModified = "2026-02-01")]
@inject IBoltonCupApi BoltonCupApi

@if (_game is not null)
{
    <PageTitle>@_game.AwayTeam.NameShort @@ @_game.HomeTeam.NameShort | Bolton Cup</PageTitle>
}

<BackgroundContainer>
    <MudContainer MaxWidth="MaxWidth.Large" Class="py-2" Style="background-color: white">
        @if (_loading)
        {
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100px" Width="100%" />
        }
        else if (_game is not null)
        {
            <GameResultBanner Game="_game"/>
        }
        <MudGrid Class="mt-2">
            <MudItem xs="12" md="8">
                <MudTabs ActivePanelIndex="1" Style="max-width: 100%" Elevation="0" KeepPanelsAlive>
                    <MudTabPanel Text="Summary" Visible="false">
                        <GameSummary GameId="GameId"/>
                    </MudTabPanel>
                    <MudTabPanel Text="Box Score">
                        @if (_loading)
                        {
                        }
                        else if (_game is not null)
                        {
                            <GameBoxScore Game="_game"/>
                        }
                    </MudTabPanel>
                </MudTabs>
            </MudItem>
            <MudItem xs="0" md="4">
                <MudPaper Class="pa-4" Elevation="0" Square Outlined>
                    <MudText Typo="Typo.h6"><b>Linescore</b></MudText>
                    <MudDivider Class="my-2"/>
                    @if (_loading)
                    {
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="250px" Width="100%" />
                    }
                    else if (_game is not null)
                    {
                        <MudSimpleTable Elevation="0" Dense Striped Square>
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>1st</th>
                                <th>2nd</th>
                                <th>3rd</th>
                                <th><b>T</b></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><MudImage Src="@_game.AwayTeam.LogoUrl" Alt="@_game.AwayTeam.Abbreviation" Height="32"/></td>
                                <td><MudText Typo="Typo.body2"><b>@_game.AwayTeam.Abbreviation</b></MudText></td>
                                <td>@_awayGoals.Count(x => x.Period == 1)</td>
                                <td>@_awayGoals.Count(x => x.Period == 2)</td>
                                <td>@_awayGoals.Count(x => x.Period == 3)</td>
                                <td><b>@_awayGoals.Count()</b></td>
                            </tr>
                            <tr>
                                <td><MudImage Src="@_game.HomeTeam.LogoUrl" Alt="@_game.HomeTeam.Abbreviation" Height="32"/></td>
                                <td><MudText Typo="Typo.body2"><b>@_game.HomeTeam.Abbreviation</b></MudText></td>
                                <td>@_homeGoals.Count(x => x.Period == 1)</td>
                                <td>@_homeGoals.Count(x => x.Period == 2)</td>
                                <td>@_homeGoals.Count(x => x.Period == 3)</td>
                                <td><b>@_homeGoals.Count()</b></td>
                            </tr>
                            </tbody>
                        </MudSimpleTable>
                    }
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
</BackgroundContainer>

@code {

    [Parameter, EditorRequired]
    public required int GameId { get; set; }
    
    private int? _gameId;

    private bool _loading;

    private Sdk.GameSingleDetailDto? _game;
    private IEnumerable<Sdk.GoalSummary> _awayGoals => _game?.Goals.Where(g => g.TeamId == _game.AwayTeam.Id) ?? [];
    private IEnumerable<Sdk.GoalSummary> _homeGoals => _game?.Goals.Where(g => g.TeamId == _game.HomeTeam.Id) ?? [];

    protected override async Task OnParametersSetAsync()
    {
        if (_gameId == GameId)
            return;
        _gameId = GameId;

        _loading = true;
        _game = await BoltonCupApi.GetGameByIdAsync(GameId);
        _loading = false;
        StateHasChanged();
    }

}