@page "/"
@using BoltonCup.WebClient.Services
@using MudBlazor.Utilities
@attribute [Sitemap(SitemapChangeFrequency.Monthly, Priority = 0.8f, LastModified = "2026-02-01")]
@inject BcStateService BcState

<PageTitle>Bolton Cup</PageTitle>


<MudContainer MaxWidth="MaxWidth.Large" Gutters="false">
    <div class="home-banner-background py-2" style="@HomeBannerStyle">
        <div class="d-flex flex-column align-center justify-center gap-6 mud-width-full px-2" style="min-height: 350px">
            @if (_context is null)
            {
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="120px" Width="320px" />
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="48px" Width="80%" />
            }
            else if (_context.ActiveTournament is { } tournament)
            {
                <div class="d-flex flex-row align-center">
                    <Countdown To="@tournament.StartDate"/>
                </div>
                
                if (tournament.IsRegistrationOpen)
                {
                    <MudAlert Severity="Severity.Error" Variant="Variant.Filled">
                        Registration for @tournament.Name is live!
                        <MudLink Underline="Underline.Always" Typo="Typo.body2" Href="@($"/tournaments/{tournament.Id}/register")">
                            <b>Register now.</b>
                        </MudLink>
                    </MudAlert>
                }
            }
        </div>
        
        @if (_context?.ActiveTournament?.Sponsors is { Count: > 0 } sponsors)
        {
            <div class="mt-2 mud-full-width d-flex flex-column align-center gap-3">
                <MudText Typo="Typo.h6" Color="Color.Tertiary"><b>BROUGHT TO YOU BY</b></MudText>
                <River AnimationDuration="50">
                    @foreach (var sponsor in sponsors)
                    {
                        <RiverItem Class="d-flex align-center justify-center pa-1" Style="height: 150px; width: 150px">
                            <a href="@sponsor.WebsiteUrl" target="_blank">
                                <MudImage Src="@sponsor.LogoUrl" Fluid/>
                            </a>
                        </RiverItem>
                    }
                </River>
            </div>
        }
    </div>
    
    @if (_context is null)
    {
        <div class="pa-4">
            <MudSkeleton SkeletonType="SkeletonType.Text" Width="240px" Height="40px" Class="mb-4" />
            <MudGrid>
                @for (var i = 0; i < 4; i++)
                {
                    <MudItem xs="12" md="6" lg="3">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="240px" Width="100%" />
                    </MudItem>
                }
            </MudGrid>
        </div>
    }
    else if (_context.FeaturedStats is {} featuredStats)
    {
        <Highlight Title="@featuredStats.Title" Href="stats">
            <MudGrid>
                @foreach (var statLeaders in featuredStats.StatLeaders)
                {
                    <MudItem xs="12" md="6" lg="3">
                        <PlayerStatLeaderList PlayerStatLeaders="@statLeaders" />
                    </MudItem>
                }
            </MudGrid>
        </Highlight>
    }
</MudContainer>

@code {

    private static Sdk.SystemContextDto? _context;

    private string? BkgImageUrl => _context?.ActiveTournament?.BackgroundImage;

    private string HomeBannerStyle => new StyleBuilder()
        .AddStyle("min-height", "500px")
        .AddStyle("--banner-image", $"url('{BkgImageUrl}')", !string.IsNullOrEmpty(BkgImageUrl))
        .Build();

    protected override async Task OnInitializedAsync()
    {
        if (_context is null)
        {
            _context = await BcState.Context;
            await InvokeAsync(StateHasChanged);
        }
    }

}