@page "/teams"

@inject Sdk.BoltonCupApi BoltonCupApi

<PageTitle>Teams | Bolton Cup</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
    @foreach (var group in _teamsByTournament)
    {
        var tournamentId = group.Key;
        var tournamentName = "Unnamed Tournament";
        var dateRange = "Aug. 20 - 23";
        if (tournamentId.HasValue)
        {
            tournamentName = group.First().TournamentName;
        }
        <div class="mud-width-full d-flex flex-row gap-3 align-center mt-6 mb-1">
            <MudText Typo="Typo.h5"><b>@tournamentName</b></MudText>
            <MudChip T="string" Text="@dateRange" Variant="Variant.Text" Color="Color.Primary" Size="Size.Small" Icon="@Icons.Material.Rounded.CalendarMonth" Label="true" />
        </div>
        <MudGrid Spacing="3">
            @foreach (var team in group)
            {
                <MudItem xs="12" md="6">
                    <MudPaper Class="d-flex flex-row align-center gap-3 px-1 py-8" Width="100%" Height="100px" Elevation="0" Outlined>
                        <div class="d-flex align-center justify-center mud-full-height" style="width: 120px">
                            <MudImage Src="@team.LogoUrl" Alt="@team.Name" Height="80"/>
                        </div>
                        <div class="d-flex flex-column align-start justify-space-between">
                            <MudText Typo="Typo.h6"><b>@team.Name</b></MudText>
                            <div class="d-flex flex-row align-center">
                                <MudButton Href="@($"/teams/{team.Id}/roster")">Roster</MudButton>
                                <MudButton Href="@($"/schedule?team={team.Id}")">Schedule</MudButton>
                            </div>
                        </div>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    }
</MudContainer>


@code {

    private IEnumerable<IGrouping<int?, Sdk.TeamDetailDto>> _teamsByTournament = [];

    protected override async Task OnParametersSetAsync()
    {
        var teams = await BoltonCupApi.GetTeamsAsync(null, null, null);
        _teamsByTournament = teams.Items
            .OrderByDescending(t => t.TournamentId)
            .ThenBy(t => t.Name)
            .GroupBy(t => t.TournamentId);
    }

}