@page "/teams/{TeamId:int}/roster"
@inject IBoltonCupApi BoltonCupApi

@if (_team is null)
{
    <PageTitle>Roster</PageTitle>
    
    @:loading...
}
else
{
    <PageTitle>Roster | @_team.Name</PageTitle>

    <MudContainer MaxWidth="MaxWidth.Medium" Class="my-4" Gutters="false">
        <div class="d-flex flex-row align-center gap-3">
            <MudText Typo="Typo.h6">Roster</MudText>
            <MudImage Src="@_team.LogoUrl" Alt="@_team.Abbreviation" Height="32" />
        </div>

        <MudTable
            T="Sdk.PlayerSummary"
            Items="_players"
            GroupBy="_groupDefinition"
            Breakpoint="Breakpoint.None"
            Elevation="0"
            AllowUnsorted
            Striped
            Dense>
            <HeaderContent>
                <MudTh Class="align-center">Player</MudTh>
                <MudTh>#</MudTh>
                <MudTh>Pos</MudTh>
                <MudTh>Born</MudTh>
            </HeaderContent>
            <GroupHeaderTemplate>
                <MudTh colspan="4"><MudText Typo="Typo.h6">@context.Key</MudText></MudTh>
            </GroupHeaderTemplate>
            <RowTemplate>
                <MudTd DataLabel="Player">
                    <div class="d-flex flex-row align-center justify-start gap-3">
                        <MudAvatar>
                            <MudImage Src="@context.ProfilePicture" Alt="@context.FullName"/>
                        </MudAvatar>
                        <PlayerLink Player="context" />
                    </div>
                </MudTd>
                <MudTd DataLabel="#">@context.JerseyNumber</MudTd>
                <MudTd DataLabel="Pos">@context.Position</MudTd>
                <MudTd DataLabel="Born">@context.Birthday?.ToString("d")</MudTd>
            </RowTemplate>
        </MudTable>
    </MudContainer>
}


@code {

    [Parameter, EditorRequired]
    public required int TeamId { get; set; }

    private int? _teamId;
    
    private Sdk.TeamSingleDetailDto? _team;
    private List<Sdk.PlayerSummary> _players = [];
    
    private readonly TableGroupDefinition<Sdk.PlayerSummary> _groupDefinition = new()
    {
        GroupName = "Position",
        Indentation = false,
        Expandable = false,
        Selector = e => e.Position switch
        {
            "forward" => "Forwards",
            "defense" => "Defensemen",
            "goalie" => "Goalies",
            _ => "Other"
        },
    };


    protected override async Task OnParametersSetAsync()
    {
        if (_teamId == TeamId)
            return;
        _teamId = TeamId;
        
        _team = await BoltonCupApi.GetTeamByIdAsync(TeamId);
        _players = _team.Players
            .OrderBy(p => p.Position switch
            {
                "forward" => 1,
                "defense" => 2,
                "goalie" => 3,
                _ => 4
            })
            .ThenBy(p => p.LastName)
            .ToList();
    }
}