@page "/teams"

@inject IBoltonCupApi BoltonCupApi

<PageTitle>Teams | Bolton Cup</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
    @foreach (var group in _teamsByTournament)
    {
        var tournament = group.First().Tournament;
        var tournamentName = tournament.Name ?? "Unnamed Tournament";
        var dateRange = new DateRange(tournament.StartDate, tournament.EndDate);
        <div class="mud-width-full d-flex flex-row gap-3 align-center mt-6 mb-1">
            <MudText Typo="Typo.h5"><b>@tournamentName</b></MudText>
            @DateRangeChip(dateRange)
        </div>
        <MudGrid Spacing="3">
            @foreach (var team in group)
            {
                <MudItem xs="12" md="6">
                    <MudPaper Class="d-flex flex-row align-center gap-3 px-1 py-8" Width="100%" Height="100px" Elevation="0" Outlined>
                        <div class="d-flex align-center justify-center mud-full-height" style="width: 120px">
                            <MudImage Src="@team.LogoUrl" Alt="@team.Name" Height="80"/>
                        </div>
                        <div class="d-flex flex-column align-start justify-space-between">
                            <MudText Typo="Typo.h6"><b>@team.Name</b></MudText>
                            <div class="d-flex flex-row align-center">
                                <MudButton Href="@($"/teams/{team.Id}/roster")">Roster</MudButton>
                                <MudButton Href="@($"/schedule?team={team.Id}")">Schedule</MudButton>
                            </div>
                        </div>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    }
</MudContainer>


@code {

    private IEnumerable<IGrouping<int?, Sdk.TeamDetailDto>> _teamsByTournament = [];

    protected override async Task OnParametersSetAsync()
    {
        var teams = await BoltonCupApi.GetTeamsAsync();
        _teamsByTournament = teams.Items
            .OrderByDescending(t => t.Tournament.Id)
            .ThenBy(t => t.Name)
            .GroupBy(t => t.Tournament.Id);
    }

    
    
    private RenderFragment DateRangeChip(DateRange? dateRange) => builder =>
    {
        if (dateRange is null)
            return;
        
        var text = string.Empty;
        int? month = null;
        if (dateRange.Start.HasValue)
        {
            month = dateRange.Start.Value.Month;
            text = dateRange.Start.Value.ToString("MMM. dd");
        }
        if (dateRange.End.HasValue)
        {
            if (!string.IsNullOrEmpty(text))
                text += " - ";
            var format = dateRange.End.Value.Month == month
                ? "dd"
                : "MMM. dd";
            text += dateRange.End.Value.ToString(format);
        }
        
        builder.OpenComponent<MudChip<string>>(0);
        builder.AddAttribute(1, "T", typeof(string));
        builder.AddAttribute(2, "Text", text);
        builder.AddAttribute(3, "Variant", Variant.Text);
        builder.AddAttribute(4, "Color", Color.Primary);
        builder.AddAttribute(5, "Size", Size.Small);
        builder.AddAttribute(6, "Icon", Icons.Material.Rounded.CalendarMonth);
        builder.AddAttribute(7, "Label", true);
        builder.CloseComponent();
    };
    
    
}