@namespace BoltonCup.Web.Components.Shared

<MudLink Href="@($"game/{Game.id}")" Underline="Underline.None">
    <MudPaper Square>
        <div class="pa-2">
            <MudGrid Style="height: 65px">
                <MudItem Class="d-flex align-center" xs="6">
                    @if (!string.IsNullOrEmpty(Game.HomeTeamName))
                    {
                        <MudText><b>@Game.HomeTeamNameShort.ToUpper()</b></MudText>
                    }
                    else
                    {
                        <MudText><b>TBD</b></MudText>
                    }
                </MudItem>
                <MudItem Class="d-flex align-center" xs="4">
                    @if (!string.IsNullOrEmpty(Game.HomeTeamName))
                    {
                        <MudImage Src="@Game.HomeTeamLogo" Width="40"/>
                    }
                    else
                    {
                        <MudIcon Icon="@Icons.Material.Filled.QuestionMark" Size="Size.Small"/>
                    }
                </MudItem>
                <MudItem Class="d-flex align-center justify-center" xs="2">
                    @if (Game.state == GameState.Complete)
                    {
                        <MudText><b>@Game.home_score</b></MudText>
                    }
                </MudItem>
            </MudGrid>
            <MudGrid Style="height: 65px">
                <MudItem Class="d-flex align-center" xs="6">
                    @if (!string.IsNullOrEmpty(Game.AwayTeamName))
                    {
                        <MudText><b>@Game.AwayTeamNameShort.ToUpper()</b></MudText>
                    }
                    else
                    {
                        <MudText><b>TBD</b></MudText>
                    }
                </MudItem>
                <MudItem Class="d-flex align-center" xs="4">
                    @if (!string.IsNullOrEmpty(Game.AwayTeamName))
                    {
                        <MudImage Src="@Game.AwayTeamLogo" Width="40"/>
                    }
                    else
                    {
                        <MudIcon Icon="@Icons.Material.Filled.QuestionMark" Size="Size.Small"/>
                    }
                </MudItem>
                <MudItem Class="d-flex align-center justify-center" xs="2">
                    @if (Game.state == GameState.Complete)
                    {
                        <MudText><b>@Game.away_score</b></MudText>
                    }
                </MudItem>
            </MudGrid>
        </div>
        <MudStack Class="gray darken-3" AlignItems="AlignItems.Center" Justify="Justify.Center" Row>
            <MudText Style="@($"color: {TextColor}")"><b>@Game.type.ToUpper()</b></MudText>
        </MudStack>
    </MudPaper>
</MudLink>


@code {
    
    [Parameter, EditorRequired]
    public required BCGame Game { get; set; }

    private string TextColor => Game.type switch
    {
        GameType.Finals5th => "#F2C3B3",
        GameType.Finals3rd => "#CFD8DC",
        GameType.Finals1st => "#FFECB3",
        _ => "white"
    };


}