@using BoltonCup.Draft.Services
@using BoltonCup.Sdk
@using MudBlazor.State
@namespace BoltonCup.Draft.Components.Shared
@inherits ComponentBaseWithState
@implements IDisposable
@inject DraftStateService DraftState
@inject IBoltonCupApi BoltonCupApi

<MudScrollToTop
    OnClick="@(_ => SetHeightAsync(DraftDrawerHeight.HalfScreen))"
    Visible="@(_height == DraftDrawerHeight.Minimized)"
    TopOffset="0">
    <MudIconButton Icon="@Icons.Material.Rounded.KeyboardArrowUp" Variant="Variant.Outlined" Color="Color.Tertiary" />
</MudScrollToTop>

<MudDrawer
    @bind-Open="@_open" Anchor="@Anchor.Bottom" Variant="DrawerVariant.Temporary"
    Height="@_drawerHeight" Overlay="false" OverlayAutoClose="false" Elevation="3">
    
    <MudStack Row>
        <MudSpacer/>
        
        <MudButtonGroup Variant="Variant.Filled" OverrideStyles="false">
            <MudIconButton Icon="@Icons.Material.Rounded.KeyboardArrowDown" OnClick="@ShrinkDrawerHeight" Color="Color.Error"/>
            <MudIconButton Icon="@Icons.Material.Rounded.KeyboardArrowUp" OnClick="@GrowDrawerHeight" Color="Color.Success"
                           Disabled="@(_height == DraftDrawerHeight.FullScreen)"/>
        </MudButtonGroup>
    </MudStack>
    
    <MudDataGrid
        T="Sdk.DraftRankingDto" Items="@DraftState.PlayerRankings" Height="@_dataGridHeight"
        QuickFilter="@QuickFilter" RowClassFunc="@RowClassFunc" RowClick="@OnRowClick"
        ShowColumnOptions="false" Elevation="0" Hover Bordered Dense FixedHeader>
        <ToolBarContent>
            <MudCheckBox @bind-Value="@_filterState.ShowDrafted" Size="Size.Small" Label="Show Drafted" Dense/>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Title="Rank" Property="x => x.DraftRanking" CellStyle="width: 50px">
                <CellTemplate>
                    <div class="d-flex flex-row align-center gap-1">
                        @if (!context.Item.IsDrafted)
                        {
                            <MudIconButton
                                OnClick="@(_ => DraftPlayerAsync(context.Item))" Disabled="@(DraftState.Draft?.Status != Sdk.DraftStatus.InProgress)"
                                Icon="@Icons.Material.Rounded.Add" Class="rounded" Size="Size.Small"/>
                        }
                        <MudSpacer/>
                        <MudText Typo="Typo.body2">@context.Item.DraftRanking</MudText>
                    </div>
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Title="Player" Property="x => x.Player.FullName">
                <CellTemplate>
                    @if (context.Item.IsDrafted)
                    {
                        <div class="d-flex flex-row align-center gap-1">
                            <MudText Typo="Typo.body2" Color="Color.Secondary">@context.Item.Player.FullName</MudText>
                            <MudImage Src="@context.Item.DraftPick?.Team.Logo" Height="24"/>
                        </div>
                    }
                    else
                    {
                        <span>@context.Item.Player.FullName</span>
                    }
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Title="PPG" Property="x => x.PointsPerGame" Format="F2"/>
            <PropertyColumn Title="P" Property="x => x.TotalPoints"/>
            <PropertyColumn Title="GP" Property="x => x.GamesPlayed"/>
        </Columns>
    </MudDataGrid>
</MudDrawer>


@code {

    [Parameter]
    public DraftDrawerHeight Height { get; set; }
    
    [Parameter]
    public EventCallback<DraftDrawerHeight> HeightChanged { get; set; }

    private bool _open = true;
    private readonly FilterState _filterState = new();
    private string _drawerHeight = "50vh";
    private string _dataGridHeight = "40vh";

    private DraftDrawerHeight _height = DraftDrawerHeight.HalfScreen;
    private readonly ParameterState<DraftDrawerHeight> _heightState;

    public DraftToolDrawer()
    {
        using var registerScope = CreateRegisterScope();
        _heightState = registerScope.RegisterParameter<DraftDrawerHeight>(nameof(Height))
            .WithParameter(() => Height)
            .WithEventCallback(() => HeightChanged)
            .WithChangeHandler(OnHeightChange);
    }

    protected override void OnInitialized()
    {
        DraftState.OnStateChanged += StateHasChanged;
    }

    private Task OnHeightChange(ParameterChangedEventArgs<DraftDrawerHeight> args)
    {
        return HandleHeightChangeAsync(args.Value);
    }

    private async Task SetHeightAsync(DraftDrawerHeight height)
    {
        await _heightState.SetValueAsync(height);
        await HandleHeightChangeAsync(height);
    }

    private Task HandleHeightChangeAsync(DraftDrawerHeight height)
    {
        _height = height;

        switch (height)
        {
            case DraftDrawerHeight.Minimized:
                _drawerHeight = "0vh";
                _dataGridHeight = "0vh";
                break;
            case DraftDrawerHeight.HalfScreen:
                _drawerHeight = "50vh";
                _dataGridHeight = "40vh";
                break;
            case DraftDrawerHeight.FullScreen:
                _drawerHeight = "calc(100vh - 64px)";
                _dataGridHeight = "80vh";
                break;
        }
        
        return InvokeAsync(StateHasChanged);
    }

    private Task ShrinkDrawerHeight()
    {
        return _height switch
        {
            DraftDrawerHeight.Minimized => Task.CompletedTask,
            _ => SetHeightAsync(_height == DraftDrawerHeight.FullScreen ? DraftDrawerHeight.HalfScreen : DraftDrawerHeight.Minimized)
        };
    }

    private Task GrowDrawerHeight()
    {
        return _height switch
        {
            DraftDrawerHeight.FullScreen => Task.CompletedTask,
            _ => SetHeightAsync(_height == DraftDrawerHeight.Minimized ? DraftDrawerHeight.HalfScreen : DraftDrawerHeight.FullScreen)
        };
    }

    private bool QuickFilter(Sdk.DraftRankingDto ranking)
    {
        if (!_filterState.ShowDrafted)
            return !ranking.IsDrafted;
        
        return true;
    }

    private string RowClassFunc(Sdk.DraftRankingDto ranking, int rowNumber)
    {
        if (ranking.IsDrafted)
            return "gray darken-3 mud-secondary-text";

        return "cursor-pointer";
    }

    private async Task OnRowClick(DataGridRowClickEventArgs<Sdk.DraftRankingDto> args)
    {
        
    }

    private async Task DraftPlayerAsync(Sdk.DraftRankingDto ranking)
    {
        await BoltonCupApi.DraftPlayerAsync(DraftState.Draft!.Id, new DraftPlayerRequest
        {
            PlayerId = ranking.Player.Id,
            TeamId = DraftState.CurrentPick!.Team.Id,
            OverallPick = DraftState.CurrentPick!.OverallPick
        });
    }

    public void Dispose()
    {
        DraftState.OnStateChanged -= StateHasChanged;
    }

    private class FilterState
    {
        public bool ShowDrafted { get; set; }
    }
}