@page "/player"
@inject NavigationManager navManager

<br>
<br>
<br>
<br>
<br>

    <Div Border="Border.Rounded" Margin="Margin.Is4.OnX.OnFullHD.IsAuto.OnMobile" Shadow="Shadow.Default"
        Padding="Padding.Is4.OnFullHD.Is3.OnY.OnMobile">
@if (player is not null)
{

    <Div Display="Display.Flex">
        <Div Padding="Padding.Is4.OnX.OnFullHD.Is2.OnX.OnMobile" Margin="Margin.IsAuto.OnY" Border="Border.Is2.OnEnd">
            <Heading Size="HeadingSize.Is2" TextWeight="TextWeight.Bold">@player.Name</Heading>
        </Div>
        <Div Width="Width.Px(50)" Margin="Margin.IsAuto.OnY.Is2.OnX">
            <Image Source="@playerTeam.Logo" Fluid/>
        </Div>
        <Div Padding="Padding.Is4.OnX" Margin="Margin.IsAuto.OnY" Border="Border.Is2.OnStart">
            <Heading Size="HeadingSize.Is2" TextWeight="TextWeight.Bold">#@player.Number</Heading>
        </Div>
        <Div Padding="Padding.Is4.OnX" Margin="Margin.IsAuto.OnY" Border="Border.Is2.OnStart">
            <Heading Size="HeadingSize.Is2" TextWeight="TextWeight.Bold">@player.PosAbbrev()</Heading>
        </Div>
    </Div>

    <br>
    <br>

    <Grid RowColumns="RowColumns.Are2.OnFullHD.Are1.OnMobile">
        <Column ColumnSize="ColumnSize.Is2.OnFullHD.IsFull.OnMobile" Margin="Margin.IsAuto">
            <Image Source="spotlight/AD_Profile.webp" Fluid />
        </Column>
        <Column ColumnSize="ColumnSize.Is2.OnFullHD.IsFull.OnMobile" Margin="Margin.IsAuto" Padding="Padding.Is4.OnX" Border="Border.Is2.OnStart.Is2.OnEnd">
            <Heading Size="HeadingSize.Is6"><b>Birth Year: </b>@player.BirthYear</Heading>
            <Heading Size="HeadingSize.Is6"><b>Hometown: </b>Tecumseh, ON</Heading>
            <Heading Size="HeadingSize.Is6"><b>Favourite Beer: </b>Water</Heading>
        </Column>
        <Column ColumnSize="ColumnSize.Is8.OnFullHD.IsFull.OnMobile" Margin="Margin.IsAuto">
            <PlayerStatInfo Player="@player" />
        </Column>
    </Grid>

    <br>
    <br>


    <Div Padding="Padding.Is4.OnX">
        <Heading Size="HeadingSize.Is2" TextWeight="TextWeight.Bold">Game by Game</Heading>
    </Div>
    <Div Padding="Padding.Is4.OnX">
        <PlayerGameByGame Player="@player" />
    </Div>

}
        </Div>

@code {
    TeamPlayer? player = null;
    TeamData? playerTeam = null;
    protected override void OnInitialized()
    {
        Uri uri = new Uri(navManager.Uri);
        string playerName = System.Web.HttpUtility.ParseQueryString(uri.Query).Get("name") ?? "Chris Bolton";
        player = Api.TeamService.Instance().GetPlayerByName(playerName);
        playerTeam = Api.TeamService.Instance().GetPlayerTeam(player);
    }
}