@page "/sheet"
@inject NavigationManager navManager

<br>
<br>

@if (Stats is not null)
{
    <Div Border="Border.Rounded" Margin="Margin.Is4.OnX.OnTablet" Shadow="Shadow.Default" Padding="Padding.Is4.OnY">
    <Div Padding="Padding.Is4.FromTop.Is4.OnX">
        <Figure Size="FigureSize.Is48x48">
            <FigureImage Source="@Api.TeamService.Instance().GetTeamByName(Stats.HomeTeam).Logo" />
        </Figure>
        <Heading TextWeight="TextWeight.Bold">@Stats.HomeTeam.ToUpper() - @Stats.HomeGoals.Count()</Heading>
    </Div>
    <Grid RowColumns="RowColumns.Are2.OnFullHD.Are1.OnMobile" Padding="Padding.Is4.FromBottom.Is4.OnX">
        <Column ColumnSize="ColumnSize.IsHalf.OnFullHD.IsFull.OnMobile" Padding="Padding.Is4.OnY">
            <GoalTable Goals="@Stats.HomeGoals" TeamName="@Stats.HomeTeam" />
        </Column>
        <Column ColumnSize="ColumnSize.IsHalf.OnFullHD.IsFull.OnMobile" Padding="Padding.Is4.OnY">
            <PenaltyTable Penalties="@Stats.HomePenalties" TeamName="@Stats.HomeTeam" />
        </Column>
    </Grid>

    <Div Padding="Padding.Is4.FromTop.Is4.OnX">
        <Figure Size="FigureSize.Is48x48">
            <FigureImage Source="@Api.TeamService.Instance().GetTeamByName(Stats.AwayTeam).Logo" />
        </Figure>
        <Heading TextWeight="TextWeight.Bold">@Stats.AwayTeam.ToUpper() - @Stats.AwayGoals.Count()</Heading>
    </Div>
    <Grid RowColumns="RowColumns.Are2.OnFullHD.Are1.OnMobile" Padding="Padding.Is4.FromBottom.Is4.OnX">
        <Column ColumnSize="ColumnSize.IsHalf.OnFullHD.IsFull.OnMobile" Padding="Padding.Is4.OnY">
            <GoalTable Goals="@Stats.AwayGoals" TeamName="@Stats.AwayTeam" />
        </Column>
        <Column ColumnSize="ColumnSize.IsHalf.OnFullHD.IsFull.OnMobile" Padding="Padding.Is4.OnY">
            <PenaltyTable Penalties="@Stats.AwayPenalties" TeamName="@Stats.AwayTeam" />
        </Column>
    </Grid>
</Div>
}

@code {

    ScoresheetGame? Stats = null;
    protected override void OnInitialized()
    {
        Uri uri = new Uri(navManager.Uri);
        string teamName = System.Web.HttpUtility.ParseQueryString(uri.Query).Get("game") ?? "Game 1";

        Stats = Api.StatService.Instance().Stats(teamName);
    }
}