@page "/stats"

<br>
<br>
<br>
<br>
<br>

<Div Border="Border.Rounded" Margin="Margin.Is4.OnX" Shadow="Shadow.Default" Padding="Padding.Is4.OnTablet">

    <Heading Size="HeadingSize.Is1" TextWeight="TextWeight.Bold" Padding="Padding.Is4.OnY.OnTablet.Is4.OnMobile">Player
        Statistics</Heading>

    <Buttons Padding="Padding.Is4.FromBottom">
        <Heading Padding="Padding.Is4.FromEnd.Is1.FromStart" Size="HeadingSize.Is6" Margin="Margin.IsAuto.OnY">Sort by
        </Heading>
        <Button Color='sortRule=="points" ? Color.Primary : Color.Light' Size="Size.Small" Margin="Margin.IsAuto.OnY"
            Clicked='() => sortRule = "points"'>POINTS</Button>
        <Button Color='sortRule=="goals" ? Color.Primary : Color.Light' Size="Size.Small" Margin="Margin.IsAuto.OnY"
            Clicked='() => sortRule = "goals"'>GOALS</Button>
        <Button Color='sortRule=="assists" ? Color.Primary : Color.Light' Size="Size.Small" Margin="Margin.IsAuto.OnY"
            Clicked='() => sortRule = "assists"'>ASSISTS</Button>
        <Button Color='sortRule=="pims" ? Color.Primary : Color.Light' Size="Size.Small" Margin="Margin.IsAuto.OnY"
            Clicked='() => sortRule = "pims"'>PIM</Button>
    </Buttons>

    <Table Striped>
        <TableHeader>
            <TableRow>
                <TableHeaderCell></TableHeaderCell>
                <TableHeaderCell>Player</TableHeaderCell>
                <TableHeaderCell>Pos</TableHeaderCell>
                <TableHeaderCell>G</TableHeaderCell>
                <TableHeaderCell>A</TableHeaderCell>
                <TableHeaderCell>P</TableHeaderCell>
                <TableHeaderCell>PIM</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var (player, playerStat) in Api.StatService.Instance().OrderedPlayerTotals(sortRule))
            {
                <TableRow>
                    <TableRowHeader>@player.Number</TableRowHeader>
                    <TableRowCell>
                        <PlayerNameLink Player="@player" />
                        <Figure Size="FigureSize.Is16x16" Margin="Margin.IsAuto">
                            <FigureImage Source="@Api.TeamService.Instance().GetPlayerTeam(player).Logo" />
                        </Figure>
                    </TableRowCell>
                    <TableRowCell>@player.Position.First()</TableRowCell>
                    <TableRowCell>@playerStat.Goals</TableRowCell>
                    <TableRowCell>@playerStat.Assists</TableRowCell>
                    <TableRowCell>@(playerStat.Goals + playerStat.Assists)</TableRowCell>
                    <TableRowCell>@(playerStat.PIMs)</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
</Div>

@code {

    string sortRule = "points";

}