@page "/team"
@inject NavigationManager navManager


<Div Padding="Padding.Is4">
    <Column ColumnSize="ColumnSize.IsFull" Shadow="Shadow.Default" Padding="Padding.Is4">

        <Grid RowColumns="RowColumns.Are2.OnTablet.Are1.OnMobile">
            <Column ColumnSize="ColumnSize.IsHalf.OnTablet.IsFull.OnMobile">
                <Heading TextWeight="TextWeight.Bold" Size="HeadingSize.Is1" Margin="Margin.IsAuto"
                    Padding="Padding.Is4.OnY.OnTablet.Is4.OnY.OnMobile">Roster -
                    @teamData.Name
                </Heading>
            </Column>
            <Column ColumnSize="ColumnSize.IsHalf.OnTablet.IsFull.OnMobile">
                <Select TValue="string" Margin="Margin.IsAuto.OnTablet.IsAuto.OnX.Is4.FromBottom.OnMobile"
                    SelectedValue="SelectedTeamName" SelectedValueChanged="@OnSelectedTeamNameChanged">
                    @foreach (var team in Api.TeamService.Instance().GetTeams())
                    {
                        <SelectItem Value="@team.Name">@team.Name</SelectItem>
                    }
                </Select>
            </Column>
        </Grid>


        <Heading TextWeight="TextWeight.Bold" Size="HeadingSize.Is5">Forwards</Heading>
        <Divider />
        @if (teamData is not null)
        {
            @PlayerSection(teamData.Players!, 'f')
        }

        <br>

        <Heading TextWeight="TextWeight.Bold" Size="HeadingSize.Is5">Defensemen</Heading>
        <Divider />
        @if (teamData is not null)
        {
            @PlayerSection(teamData.Players!, 'd')
        }

        <br>

        <Heading TextWeight="TextWeight.Bold" Size="HeadingSize.Is5">Goalies</Heading>
        <Divider />
        @if (teamData is not null)
        {
            @PlayerSection(teamData.Players!, 'g')
        }

        <br>

    </Column>
</Div>

@if (teamData is not null)
{
    <Div Padding="Padding.Is4">
    <Column ColumnSize="ColumnSize.IsFull" Shadow="Shadow.Default" Padding="Padding.Is4">
        <TeamGameByGame Team="@teamData" />
    </Column>
</Div>
}

@code {

    RenderFragment PlayerSection(List<TeamPlayer> playerData, char positionFlag) => __builder =>
    {
        <Table Borderless>
            <TableBody>
                @foreach (var p in playerData)
                {
                    var player = p;
                    if (player.Position!.ToLower().First() == positionFlag)
                    {
                        <TableRow>
                            <TableRowHeader>@player.Number</TableRowHeader>
                            <TableRowCell>
                                <PlayerNameLink Player="@player" />
                            </TableRowCell>
                            <TableRowCell>@player.BirthYear</TableRowCell>
                        </TableRow>
                    }
                }
            </TableBody>
        </Table>
    };

    TeamData? teamData = null;

    string SelectedTeamName = "";

    Task OnSelectedTeamNameChanged(string value)
    {
        SelectedTeamName = value;
        teamData = Api.TeamService.Instance().GetTeamByName(SelectedTeamName);
        return Task.CompletedTask;
    }

    protected override void OnInitialized()
    {
        Uri uri = new Uri(navManager.Uri);
        string teamID = System.Web.HttpUtility.ParseQueryString(uri.Query).Get("id") ?? "1";

        teamData = Api.TeamService.Instance().GetTeamByID(teamID);
        SelectedTeamName = teamData.Name;
    }
}