@using BoltonCup.Infrastructure.EmailTemplates
@using Microsoft.AspNetCore.Html
@model BracketChallengeCredentialsViewModel
@{
    // ReSharper disable once Razor.LayoutNotResolved
    Layout = EmailConstants.SharedLayout;
}

<p style="font-size: 14px; color: #555555;">
    Click the following to join @Model.Title:
</p>

<a href="@(new HtmlString(Model.Link))" style="display: inline-block; background-color: #353535; color: #ffffff; padding: 14px 32px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 16px; margin: 20px 0;">
    @Model.Title
</a>

<p>The bracket challenge password is:</p>

<div style="display: inline-block; background-color: #d1d1d1; color: #000000; padding: 14px 64px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 16px; margin: 20px 0;">
    @Model.Password
</div>

<p>
    If the above link doesn't work, paste this into your browser:
    <br>
    <p style="text-decoration: underline">
        @(new HtmlString(Model.Link))
    </p>
</p>

