@namespace BoltonCup.Components
@inject NavigationManager navManager

@if (matchup is not null)
{
    <Grid RowColumns="RowColumns.Are7.OnFullHD.Are1.OnMobile" Background="Background.Light" Margin="Margin.Is4.FromBottom"
    Padding="Padding.Is4">
    <Column ColumnSize="ColumnSize.Is3.OnFullHD.Is12.OnMobile" TextAlignment="TextAlignment.End" Margin="Margin.IsAuto">
        <Heading Size="HeadingSize.Is6" TextWeight="TextWeight.Bold">@matchup.HomeTeam.Name!.ToUpper()</Heading>
    </Column>

    <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is12.OnMobile" Margin="Margin.IsAuto.OnY">
        <Grid RowColumns="RowColumns.Are2">
            <Column ColumnSize="ColumnSize.IsHalf" TextAlignment="TextAlignment.End">
                <Image Source="@matchup.HomeTeam.Logo" Height="Height.Rem(3)" />
            </Column>
            <Column ColumnSize="ColumnSize.IsHalf" TextAlignment="TextAlignment.Start">
                <Image Source="@matchup.AwayTeam.Logo" Height="Height.Rem(3)" />
            </Column>
        </Grid>
    </Column>

    <Column ColumnSize="ColumnSize.Is3.OnFullHD.Is12.OnMobile" TextAlignment="TextAlignment.Start"
        Margin="Margin.IsAuto">
        <Heading Size="HeadingSize.Is6" TextWeight="TextWeight.Bold">@matchup.AwayTeam.Name!.ToUpper()</Heading>
    </Column>

    <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is12.OnMobile" Margin="Margin.IsAuto">
        <Heading Size="HeadingSize.Is6">@matchup.Date.ToString("h:mm tt")</Heading>
    </Column>

    <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is12.OnMobile" Margin="Margin.IsAuto">
        <Heading Size="HeadingSize.Is6">@matchup.Location</Heading>
    </Column>


    <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is12.OnMobile" Margin="Margin.IsAuto">
        @{
                var stats = Api.StatService.Instance().Stats(matchup.Title);
                if (stats is not null)
                {
                    <Heading Size="HeadingSize.Is6">@stats.HomeGoals.Count() - @stats.AwayGoals.Count()</Heading>
                }
            }
        </Column>
        <Column ColumnSize="ColumnSize.Is2.OnFullHD.Is12.OnMobile" Margin="Margin.IsAuto">
            @{
                var stats = Api.StatService.Instance().Stats(matchup.Title);
                if (stats is not null)
                {
                    <Button Color="Color.Dark" Clicked='() => navManager.NavigateTo($"/sheet?game={matchup.Title}")'>
                        <Icon Name="IconName.Receipt" />
                    </Button>
                }
            }
        </Column>
    </Grid>
}

@code {
    [Parameter] public Matchup? matchup { get; set; } = null;
    [Parameter] public string TimeLabel { get; set; } = "12:00 AM";
    [Parameter] public TeamData? HomeTeam { get; set; } = null;
    [Parameter] public TeamData? AwayTeam { get; set; } = null;
    [Parameter] public string Score { get; set; } = "0-0";
}